[2020-02-09 05:24] MichaelBroughton opened #15 "Upgrade matrix uses to Eigen3"
Right now we use only `float*` objects for our gates. It would probably be better if we used Eigen3 matrices and then when it came to state simulation just returned the matrices row-major `.data()` property. This would make our matrices far more extensible than anything we have now.

This will be an issue to tackle later on once we have `qsim` and `src` more organized and well tested.

[2020-02-09 09:57] MichaelBroughton opened #22 "Modify the smart pointers to not have "double pointers""
Make it so that we don't have smart pointers pointing to other smart pointers in our states.

[2020-02-09 11:38] MichaelBroughton opened #23 "Improve sensing demo"
It would be nice if the sensing demo had a bit more background information and was cleaned up a little bit.

[2020-02-09 11:43] MichaelBroughton opened #24 "Remove tfq install lines at top of notebooks"
When running these notebooks we should assume people have Cirq and TensorFlow all ready to go on their computers. This was nice to have for testing, but close to release we likely need to get rid of the cells entirely

[2020-02-09 18:32] jaeyoo opened #25 "Update links in md docs for the new repo."
Many md docs still have link to the old repo.

[2020-02-09 19:19] jaeyoo opened #27 "Remove np.exp with cirq on testing"
Now that `np.exp` support for cirq `PauliString`'s will be removed, we need to remove them in our testing codes.

[2020-02-09 22:19] #25 closed, assigned to jaeyoo

[2020-02-10 08:16] jaeyoo opened #29 "Debugging macros are duplicated: glog vs tf"
Here are some of warning message about it
[code]
Let's remove the dependency of glog and use TF's logging.

[2020-02-10 14:45] jaeyoo opened #30 "Convert int to size_t in for-loops"
Here are many warning messages such as:
[code]
Let's use `size_t` instead of `int` in C++.

[2020-02-10 21:37] #30 closed, assigned to jaeyoo

[2020-02-10 22:01] #29 closed, assigned to jaeyoo

[2020-02-10 22:51] #24 closed, assigned to zaqqwerty

[2020-02-10 23:40] MichaelBroughton opened #33 "Demo re-ordering"
In our demos we currently setup the learning problems with:
1. Model
2. Data
3. Train

It should probably go:

1. Data
2. Model
3. Train

Fixing this up would mean moving the data definition part up a little bit higher in the Hello World, QCNN and the Sensing Example.

MNIST and already does this and it doesn't really apply for the other demos.

[2020-02-11 00:20] MichaelBroughton opened #34 "Notebook install change"
The install lines that read like this:
[code]
In all of the tutorial notebooks will need to be changed to:
[code]
When we get a little closer to release and get things up on PyPi

[2020-02-15 10:04] #33 closed, assigned to zaqqwerty

[2020-02-15 22:58] zaqqwerty opened #52 "Complete program resolution test coverage"

[2020-02-15 23:00] zaqqwerty opened #53 "mux test coverage"

[2020-02-15 23:01] zaqqwerty opened #54 "Test CalcMatrix4 and Matrix4Permute"

[2020-02-15 23:03] zaqqwerty opened #55 "Test coverage of state spaces"

[2020-02-15 23:05] zaqqwerty opened #56 "Add custom `get_config` for PQC layers"
"This would allow users to call methods like save which can load full models without the original python code that created them. For now we have only save_weights which requires the user to also have the original python code that created the model (not a huge constraint)." @MichaelBroughton

[2020-02-16 00:00] zaqqwerty opened #57 "[Discussion] remove first index of SymbolMap"
It seems the `int` entries are not used, as `ResolveSymbols` only considers the second `float` entry.

[2020-02-16 00:03] zaqqwerty opened #58 "C++ support for GPU"

[2020-02-16 00:04] zaqqwerty opened #59 "C++ support for TPU"

[2020-02-16 00:46] zaqqwerty opened #60 "Parallelization of parsing ops"
Comment from @philiptmassey
"We should be calling ParallelFor instead of TransformRangeConcurrently. We can use absl::nullopt or {} as the current estimate of work value, but this would also allow us to make predictions on how much work a circuit takes, which could provide speedups."

Comments from @MichaelBroughton
"When running REALLY deep circuits with lots of symbols through our ops it looks l

[2020-02-16 00:48] zaqqwerty opened #61 "Add TFQ whitepaper to readme after release"
Comment from @jaeyoo
"
It is conventional to write a paper on TensorFlow & TensorFlow addon libraries.

For example, TensorFlow Probability also has its own paper aligned with its release, and the following message is inside README.md of its GitHub repo. [here](https://github.com/tensorflow/probability)

[code]
References:
TensorFlow [arXiv](https://arxiv.org/abs/1603.04467)
TensorNetwork [arXiv](

[2020-02-16 00:52] zaqqwerty opened #62 "Add clang-tidy to linter"
Comment from @jaeyoo
"
This issue is related to these files.

scripts/README.md
scripts/lint_all.sh
Let me find a way to add clang-tidy.
"

[2020-02-16 00:55] zaqqwerty opened #63 "Circuit prepending and symbols test"
Comment from @MichaelBroughton
"Can we add one where you append and prepend circuits with different sets of symbols in them and make sure the result contains both, just for completeness sake"

[2020-02-16 01:01] zaqqwerty opened #64 "Investigate testing doctest docs and doing internal vs external docs CI"

[2020-02-16 01:05] #22 closed, assigned to zaqqwerty

[2020-02-16 01:23] zaqqwerty opened #65 "Fix code formatting in docstrings"
Comment from @MichaelBroughton
"Right now internal docstring renders screw up some of the code we have. Will need to fiddle with layers and differentiators to get this fixed. This also includes cleaning up the descriptions in the `__init__.py` modules so taht they describe in more detail what they are as they do get rendered."

Comment from @jaeyoo
"`tfdevsite`/quantum/api_docs/python/tfq/layers/E

[2020-02-16 01:26] zaqqwerty opened #66 "Incorporate a new script for coverage checks"
Comment from @MichaelBroughton
"It would be nice to have a script like `./scripts/coverage_check.sh` that would tell us our python and C++ code coverage. A quick look around bazel docs seems to show that comprehensive coverage support across python and C++ is still kind of in the works and since we're locked into an old version, 0.26.1 or lower, we might have to look elsewhere ?"

[2020-02-16 01:29] zaqqwerty opened #67 "Push GateFused implementations into cc file"

[2020-02-16 01:35] zaqqwerty opened #68 "Upgrade full build pipeline to Bazel 2.0 and TF 2.2.0"
The current bazel version for a given TF version can be found [here](https://www.tensorflow.org/install/source#tested_build_configurations)

[2020-02-16 01:36] zaqqwerty opened #69 "[Discussion] change internal tools to Cirq qubit order convention"
Currently the qubit endianness in `matrix.h` is reversed relative to Cirq, and we convert between them when passing from cirq to qsim.

[2020-02-16 07:11] #52 closed, assigned to zaqqwerty

[2020-02-16 07:20] #57 closed, assigned to nobody

[2020-02-18 18:05] zaqqwerty opened #86 "Python operators and optimizers folders are empty"

[2020-02-18 19:25] zaqqwerty opened #87 "CI formatter uses old clang-format version"
My local format check does not catch any problems, though the CI fails #72 .  It seems the "Install Format tools" section of the lint-and-format job installs `clang-format-3.8`, which is not available through standard apt-get.  Is there a way to keep required dev tool versions and CI versions in sync?

[2020-02-19 04:15] zaqqwerty opened #89 "Local formatter changes notebooks, but CI passes"
See #97.  Seems difficult to add a format checker for notebooks.

[2020-02-19 06:40] MichaelBroughton opened #92 "Cleanup ParameterShift C++ code."
This is a low priority issue and not a huge rush.

Some of the C++ op code in particular the ones for the parametershift has some kind of ugly C++ code in it. It would be nice if we could clean that up at some point. Especially if Cirq keeps adding new gates, we may need to make sure it's easy to add them in here.

[2020-02-19 06:41] #69 closed, assigned to nobody

[2020-02-19 06:42] #63 closed, assigned to nobody

[2020-02-19 21:28] zaqqwerty opened #93 "Add better Swap tests for gate matrices"
Currently the swapped versions of gates are checked at only one set of angles, probably there should be an explicit swapping test for some random angles.

[2020-02-19 23:02] zaqqwerty opened #94 "Check that abs() is not used"
As discovered in #19, use of `abs` can be problematic.  Solution was to switch to exclusive use of `std::fabs`

[2020-02-20 02:16] #94 closed, assigned to nobody

[2020-02-20 20:04] #93 closed, assigned to zaqqwerty

[2020-02-21 01:30] #54 closed, assigned to zaqqwerty

[2020-02-21 20:39] #89 closed, assigned to nobody

[2020-02-24 13:10] #86 closed, assigned to nobody

[2020-02-24 18:21] zaqqwerty opened #106 "Move model.png to images folder"

[2020-02-27 15:58] #23 closed, assigned to zaqqwerty

[2020-03-07 03:09] #34 closed, assigned to MichaelBroughton, zaqqwerty

[2020-03-09 18:31] MichaelBroughton commented on #61
We have a link in the `README.md` now. Closing.

[2020-03-09 18:31] #61 closed

[2020-03-09 19:55] MichaelBroughton opened #142 "MNIST Notebook is slow"
We are running a LOT of quantum circuits in the MNIST tutorial. Maybe we should find a way to trim it down a little bit ? so CI can run faster. Right now it takes as much as 30+ mins on all the notebooks.

[2020-03-09 20:00] MichaelBroughton commented on #106
Can't actually track down a `model.png` anymore so it looks like this is fixed.

[2020-03-09 20:00] #106 closed

[2020-03-09 20:31] MichaelBroughton opened #144 "Finish C++ Backend for SampledExpectation"
This is a deceptive amount of work. Roughly we will need to do the following things:

1. Add ability to calculate sampled expectation in `qsim` and `src`.
2. Add a new C++ op that will have the same signature as the python.
3. Link that C++ op into `get_sampled_expectation_op`.

No need to modify any other tests or layers since this should just propagate up through the API.

[2020-03-10 00:23] zaqqwerty opened #148 "Replace format_ipynb script with tf docs nbfmt"
The current `scripts/format_ipynb.py` has a slightly different convention than the tf docs nb formatter at https://github.com/tensorflow/docs/blob/master/tools/nbfmt.py; per @lamberta, the latter is also designed to be compatible with Colab downloads

[2020-03-10 14:40] va9abund commented on #142
Is it possible to reproduce this tutorial on actual quantum hardware? My guess is that despite of a numerous number of, it might be caused by using simulator.

[2020-03-10 21:22] MichaelBroughton commented on #142
It's possible that if we had a big(ger) quantum computer the differences between the quantum computer and the classical computer could get smaller and it would do better.

Glad you enjoyed the tutorial :).

We dialed back the runtime of this notebook on CI with: #155 so we can close this now.

[2020-03-10 21:22] #142 closed

[2020-03-11 12:02] htmbennis opened #157 "tensorflow_quantum/core/ops/_tfq_simulate_ops.so: cannot open shared object file: No such file or directory"
I run the notebook "Hello many worlds" on google Colab
when I run : import tensorflow_quantum as tfq
I get the following error :
NotFoundError: /usr/lib/python3/dist-packages/tensorflow_quantum/core/ops/_tfq_simulate_ops.so: cannot open shared object file: No such file or directory
Of course, I have successfully installed tensorflow-quantum with :  !pip install tensorflow-quantum

[2020-03-11 12:06] #157 closed

[2020-03-11 12:06] htmbennis commented on #157
not reproductible

[2020-03-12 01:49] MichaelBroughton commented on #144
Step 1 is done, before we move on to 2. #158 Should go in and we can start testing state_space a little more to make our lives easier for step 2.

[2020-03-12 22:59] DuckTigger opened #160 "Can't run tfq.layers.PQC with a value for repetitions on windows"
Running the code in the docstring for tfq.layers.PQC **with a value for repetitions** produces an error on windows.
This could be due to the use of multiprocessing in ```tfq.core.ops.batch_util.batch_calculate_sampled_expectation``` - Pickle cannot handle module objects to send to different cores. I am unsure of a way that this can be circumvented - it still doesn't work when entering as ```__main

[2020-03-13 03:48] MichaelBroughton commented on #160
Hey @DuckTigger thanks so much for the snippet and logs. This was a tricky one to diagnose, but it looks like linux and windows python multiprocessing modules behave a little bit differently.

In particular it looks like our `batch_util.py` file that pickles copies of `cirq.Simulator` objects and lambda functions works on linux and mac but don't work on windows. Just creating and dispatching a `mu

[2020-03-14 12:26] Nimitkothari commented on #157
its due to older version of tensorflow.

Do following steps:
    pip uninstall tensorflow
    pip install tensorflow

the above commands install latest version of tensorflow.
you wont face the error again.

[2020-03-15 02:10] MichaelBroughton commented on #56
@trevormccrt do you want to look into this since you have some experience with Keras Layers ?

[2020-03-16 06:48] zaqqwerty commented on #56
This seems to be a priority, since users are running into the issue on [SO](https://stackoverflow.com/questions/60682091/cannot-save-tensorrflow-keras-quantum-model-using-save-pickle).  I will try.

[2020-03-16 23:44] peterse opened #164 "Typo in `hello_many_worlds.ipynb` images"
The following images have typos in the circuit they're depicting, compared to the circuits defined in the body of the tutorial.
[nn_control1.png](https://github.com/tensorflow/quantum/blob/master/docs/tutorials/images/nn_control1.png)
[nn_control2.png](https://github.com/tensorflow/quantum/blob/master/docs/tutorials/images/nn_control2.png)

It would clarify things to change all of the circuits to

[2020-03-17 09:36] MichaelBroughton commented on #164
@trevormccrt can you look into fixing these ?

[2020-03-17 09:57] muhammetfaik opened #166 "QPU access"
Does QPU access  like rigetti.com otherwise It's only simulation this library.

[2020-03-17 10:37] MichaelBroughton commented on #160
#161 has gone in, I tested the fix on windows server (closest I could get to win10). Could you try installing the next tfq-nightly and see if that fixes the problem for you ?

[2020-03-17 23:42] MichaelBroughton commented on #166
Yes _for now_ we can only simulate things, just like Cirq.

[2020-03-17 23:42] #166 closed

[2020-03-20 20:02] zaqqwerty opened #169 "Add dict getter for symbols and values"
Would be convenient for managed layers to return a dict mapping parameter strings to values, like `cirq.ParamResolver` requires as input.

[2020-03-22 06:03] zaqqwerty opened #171 "Move island gate collection from circuit conversion to fuser"
Currently, the fuser relies on circuits having the structure that all single qubit gates be followed somewhere in the circuit by a 2 qubit gate, but the Circuit class does not enforce this.  Seems Circuit should not carry these gates and instead Fuser should add these as necessary to collect all gates

[2020-03-23 10:18] DuckTigger commented on #160
Hi Michael,

Apologies for the dealy, I was on AL.

Upgrading to tfq-nightly now fixes the problem, with the output:
[code]

Thanks!

[2020-03-23 10:18] #160 closed

[2020-03-26 06:11] #55 closed

[2020-03-26 16:31] zaqqwerty opened #173 "QCNN tutorial error"
When I open and run the QCNN tutorial in colab, the runtime currently fails and restarts consistently at the first code cell after the imports.  Error log:

Mar 26, 2020, 12:27:00 PM | WARNING | WARNING:root:kernel 496f68e2-6561-4722-8ef1-fdc4536ba38d restarted
-- | -- | --
Mar 26, 2020, 12:27:00 PM | INFO | KernelRestarter: restarting kernel (1/5), keep random ports
Mar 26, 2020, 12:26:58 PM | WA

[2020-03-26 19:54] MichaelBroughton commented on #68
It looks like TF and Bazel have made a serious leap to bazel 2.0.0. When we upgrade our support to tf 2.2 we should coordinate this upgrade with bazel. Things will likely break a lot :)

[2020-03-26 20:06] #173 closed

[2020-03-27 14:42] hblxuor opened #176 "QAOA testing- q on extracting parameters, inconsistent output states"
Hi, I'm trying out TFQ with the QAOA max-cut circuit that appears in arXiv:2003.02989v1.  My set up is tensorflow_quantum 0.3.0, tensorflow 2.1.0 and cirq 0.8.0.  I'm running on a CPU, on both a mac 10.13 and a linux box RHEL7.7. Both show the same results.

This ticket uses QAOA terminology, but the gist is tfq.layers.Sample is producing weird results for me, and model.weights appears to go in re

[2020-03-27 14:45] hblxuor commented on #176
Here are some sample outputs I'm getting.  The format is "[q1,q2] energy".  The minimum energy is 0.  The ordering is tf.Sample with ordered weights, tf.Sample with reversed weights, cirq prediction with reversed weights.

...
Epoch 1000/1000
1/1 [==============================] - 0s 2ms/sample - loss: 2.2680e-05

straight
WARNING:tensorflow:From /Users/gm102/anaconda3/lib/python3.7/site-packages/

[2020-03-27 18:21] MichaelBroughton commented on #176
Quickly glancing at your code It looks like your `model_circuit` and `myCircuit` are two very different circuits. Looking at your code I get model_circuit:
[code]
and then later on myCircuit:
[code]
Can you double check that this is the case on your end too ?

Another subtlety that you might be running into is that when using PQC, the order in which the symbol values are placed inside of the weigh

[2020-03-29 20:27] hblxuor commented on #176
Can confirm different circuits.  I took the first circuit directly from the QAOA example in the paper, so I'm confused by its strange form. There are spurious hadamards and CNOTs that I didn't specify that are clearly staggering the circuit.  More trivially, the TFQ circuit's initial hadamards are inserted at the model Input layer while I manually inserted them in the cirq circuit; I'm assuming th

[2020-03-29 23:21] hblxuor commented on #176
TFQ is creating circuits that I don't fully understand.  Here are some test circuits:

Using the attached file, which only uses identity gates on both qubits, I get:
`QAOA TFQ circuit:
(0, 0): ───X───Z^(-0.636619772367581*AAA)───X───Z^(-0.636619772367581*AAA)───X───Z^(-0.636619772367581*BBB)───X───Z^(-0.636619772367581*BBB)───`

When I perform X1 + X2 by changing the tst1 circuit to `tst1 += cirq.

[2020-03-29 23:31] hblxuor commented on #176
I'll attached a version of my qaoa code with the fixed symbols to verify. Again, everything is working perfectly except for sample. All I want to do is observe samples of states generated by a given parameter set, so if there's a better alternative or if I'm using Sample wrong, that's fine.

`QAOA TFQ circuit:
(0, 0): ───@───────────────────@───X───Z^(-0.159154943091895*gamma)───X───Z^(-0.15915494

[2020-03-30 00:25] MichaelBroughton commented on #176
On L101 in the source file you linked you are not putting the hadamard wall before `model_circuit` like you were doing before. `sample_layer` is not connected to the previous `model` variable you created, nor does it acquire the hadamard wall from the `input_` tensor. I don't know what output you are shooting for here, but it looks like doing this at least gets the two output lists you have printi

[2020-03-30 00:42] hblxuor commented on #176
Yes! That (along with the symbol ordering) fixes it completely.  As you said, I failed to realize the input circuit was not being sent to Sample.  I don't fully understand why the circuit diagrams look the way they do, but I can live with that. I've tested this on larger graphs and everything is self-consistent. Thanks!

[2020-03-30 10:03] MichaelBroughton commented on #176
Great! Closing.

[2020-03-30 10:03] #176 closed

[2020-03-30 19:01] #169 closed

[2020-03-31 07:08] we-taper opened #180 "NotFoundError: _tfq_simulate_ops.so"
Upon fresh installation of tensorflow quantum in a conda environment, importing `tensorfloq_quantum` gives:

[code]

In more detail:
[code]

**Other information**:
[code]
OS: Ubuntu 19.10
Package Versions:
[code]

[2020-03-31 21:20] MichaelBroughton commented on #180
Hi, which directions did you follow to install tensorflow and tensorflow-quantum ? I see that your `GIT_VERSION` is unknown. Usually on vanilla pip installations you get a known git version of some kind. Could you give some more details on the steps you went through for your installation so I could try to recreate the issue ?

[2020-03-31 21:26] we-taper commented on #180
Thanks for the reply. The steps includes:
[code]

[2020-03-31 23:44] MichaelBroughton commented on #180
I think I've managed to recreate the issue and get to the bottom of things. So for starters the conda version of tensorflow is a community version of tensorflow that is mostly maintained by the conda people and supporting community. When I followed your instructions and then ran `conda list` I saw:

[code]
Notably the channel is not pypi, which leads me to believe that conda may have rolled their

[2020-04-01 18:01] zaqqwerty opened #183 "Update TFQ sampling op to use C++ statespace sampling function"

[2020-04-02 17:04] karlunho opened #184 "Potentially put a TF Blogpost on QAOA / Laywise learning"
TF Blogpost on QAOA / Laywise learning

[2020-04-02 17:48] MichaelBroughton opened #185 "Implement quantum execution context"
For our slower (cirq_ops) ops where we have the potential of going through to engineSampler in Cirq we might have to drastically change certain execution parameters. For example things like:

1. Reducing from parallel execution to serial execution.
2. Increasing optimization for minimizing circuit depth.
3. Make better use of sweeps.
4. Grouping identical circuits in the batch into the same job.

[2020-04-02 17:51] MichaelBroughton opened #186 "Implement engine_util.py."
Like batch_util which is designed for fast parallel calls to Cirq simulator/Sampler objects we should make `engine_util` which is designed for careful and efficient calls to Cirq Sampler objects to ensure maximum compatibility with Cirq's engine interface. This will need to wait until we finish #185 .

[2020-04-02 17:53] MichaelBroughton commented on #183
xref #144

[2020-04-03 19:00] zaqqwerty opened #190 "Add guard to expectation calculators"
Would be safer to make expectation functions set the input float to zero before computation, I can't think of a case where this is a problem and it would prevent some subtle bugs

[2020-04-04 11:26] we-taper commented on #180
Hi Micheal, sorry for getting back late. Yes using tensorflow from pip solved the issue. Thanks!

[2020-04-04 11:26] #180 closed

[2020-04-04 22:57] JPalakapilly opened #191 "Minor bug in Meta-Learning QAOA notebook"
There's a line in the call function of the QRNN class that I think is incorrect. `prev_input` should be assigned `inputs[4]` instead of `inputs[3]`. Code shown below with stars around the line in question.
[code]

[2020-04-06 17:04] MichaelBroughton commented on #191
Good catch. @zaqqwerty can you take this on ?

[2020-04-07 01:12] amandalqy opened #193 "Can quantum work on Large-scale distributed platform？"
Can quantum work on Large-scale distributed platform？such as several gpus?

[2020-04-07 08:34] swastiknath commented on #193
A quantum computer works with bits which can be superimposed called the Qubits. Classical Hardware like GPU's or CPU's won't work with the computations those are powered by the Quantum Mechanics, although after the computation is ended a classical computer understandable response is generated. However Quantum Computers , which can be used to implement quantum logic gates can be distributed can eac

[2020-04-08 00:00] MichaelBroughton commented on #193
If you are interested in the scaling capabilities of TensorFlow Quantum when it is being used for circuit simulation (not real quantum hardware) I can also mention this:
1. TFQ works with things like `tf.distribute.experimental.MultiWorkerMirroredStrategy()` so if you want to offload your computation onto lots of nodes in a cluster, you can. More [here](https://www.tensorflow.org/guide/distributed

[2020-04-08 05:34] amandalqy commented on #193
@ MichaelBroughton   @ swastiknath  Thank you for your reply! I want to make use of TFQ for  quantum circuit simulation on  multiple GPUs or CPUs . Does tf.distribute.experimental.MultiWorkerMirroredStrategy() allow quantum circuit simulation to run on several CPUS? In the sentence"so if you want to offload your computation onto lots of nodes in a cluster",what does "cluster"mean? Does it mean clu

[2020-04-08 10:17] swastiknath commented on #193
@amandalqy  You cannot use distributed GPU's to offload the circuit simulation. It only works on CPUs as paralleling these workload into discrete GPU's will create much overhead which  tf.distribute.experimental.MultiWorkerMirroredStrategy() cannot handle as of now, but collaborators are working. It can work with multiple CPUs. Cluster means you can rather than using a single device can connect ma

[2020-04-08 23:59] MichaelBroughton opened #195 "Add msan and asan CI tests for src and qsim"
If our C++ code continues to grow in size we should work in these tests to the CI. Not sure how many new ops are on the immediate horizon, so right now this is low priority.

[2020-04-09 17:06] zaqqwerty commented on #191
I'll address this now

[2020-04-09 19:38] zaqqwerty opened #198 "Colab badges in research branch should open new tab or window"

[2020-04-09 21:05] JPalakapilly commented on #191
Awesome. I’ve read the paper and am trying to build on this for a project for class. Any chance y’all have code on the VQE Hubbard model that you can share with me?

[2020-04-09 21:11] zaqqwerty opened #199 "Standardize layer input tests"
There is much duplication between layer input checks, would simplify testing if this was abstracted to a separate function

[2020-04-09 21:17] zaqqwerty commented on #199
Should also iterate over backends in the layer input tests

[2020-04-10 01:55] dominicpasquali opened #200 "Google Cirq Gate Throws Serialization Error"
While testing out TFQ's hello_many_worlds example (https://www.tensorflow.org/quantum/tutorials/hello_many_worlds), some Cirq gates throw a serialization error when passed through TFQ's convert to tensor function.

For example, while trying out the identity matrix:

![mATRIX1](https://user-images.githubusercontent.com/7927409/78954990-b218b900-7a92-11ea-8637-9fb1016c898c.png)

I get the following

[2020-04-10 03:17] MichaelBroughton commented on #200
Yes, if you look at `tfq.util.get_supported_gates` it will give you a list (might actually be a dict) of all of the gates supported in TFQ. TFQ Curently doesn't support `cirq.I` or `cirq.MatrixGate` (They don't play nice with Cirq's proto serialization yet).

To give a little more context:

1. We wanted to be able to serialize and deserialize circuits to protocol buffer representations when passin

[2020-04-10 05:17] dominicpasquali commented on #200
Yes, that absolutely clears things up, thank you! I totally missed the documentation for  `tfq.util.get_supported_gates`. Also thank you for giving me an idea of what the backend is doing.

[2020-04-10 05:17] #200 closed

[2020-04-11 23:13] MichaelBroughton commented on #191
Unfortunately no, we don’t have any VQE Hubbard stuff laying around in TFQ. Check out here: https://github.com/quantumlib/OpenFermion and https://openfermion.readthedocs.io/en/latest/openfermion.html . You should be able to setup your circuits using OpenFermion and then just run them through TFQ.

Going to close now since the original issue is fixed now.

[2020-04-11 23:13] #191 closed

[2020-04-11 23:21] MichaelBroughton commented on #193
@amandalqy Is this issue resolved or are there still some outstanding questions ?

[2020-04-13 01:22] amandalqy commented on #193
@MichaelBroughton @ swastiknath Thank you for your reply! Can the available simulator run on several computers that share a LAN or in the same cloud? How many qubits can the tensorflow quantum simulator support at most? Thank you!

[2020-04-15 16:17] zaqqwerty commented on #199
Basically, this should change layers to enforce the appropriate data shapes, rather than relying on backend error messages propagating upwards

[2020-04-15 22:35] MichaelBroughton commented on #199
Could you try and nail down what the core issue is here ?

Re your points:
1. We probably could have seperate functions that does keras init sanity checks and type checks etc.

2. We don't need to iterate over backends in the layer input tests since the errors and functionality we are testing should not depend on the backend at all.

3. Shape checking is something that belongs at the op level. Sha

[2020-04-15 22:58] MichaelBroughton commented on #193
So the simulator tensorflow quantum uses runs one circuit on one machine. In TensorFlow Quantum I might have a **batch** of 30 different circuits. TFQ lets me do things like: simulate 15 of those circuits on one computer over LAN (or cloud) and 15 on another in parallel. We use full state vector simulation so we can comfortably do a little over 30 qubits.

From a simulation perspective, one way to

[2020-04-16 01:09] amandalqy commented on #193
Thanks a lot! It helps me a lot!

[2020-04-16 01:31] amandalqy opened #203 "Some questions about he MNIST classification example"
Hello! I want to ask some questions about  the MNIST classification example .
1.“encoding  the data as quantum circuits”:What is the initial quantum state before applying the X gate? |0> or |1 > or  superposition state?And What is the initial quantum state of the readout qubit?

2. “Build the model circuit ”：  why is the MNIST classification quantum circuit designed as "——X——H——XX——XX...——ZZ——ZZ——

[2020-04-16 01:42] amandalqy commented on #193
Does the tensor network simulator have the decomposition function of CZ gate for a big circuit running on  lots of distributed machines?Thank you!

[2020-04-16 02:26] MichaelBroughton commented on #193
I don't really understand what you are asking, but I will say this:

Many simulation efforts that want to push the number of qubits up into the 35+ range past what is possible with just state vector simulation do so by trading the exponential cost in qubit count for an exponential cost in circuit depth (Tensor networks can do this, but there are other ways). In certain situations a heuristic that

[2020-04-16 02:26] #193 closed

[2020-04-16 02:40] MichaelBroughton commented on #203
Here is a link to the paper followed in the tutorial: https://arxiv.org/pdf/1802.06002.pdf (also linked in the tutorial), they go over all of the model specifics in detail. To answer your questions:

1. The initial state of all of the qubits in a circuit are  |0>. In Cirq this is an implicit assumption so anytime you enact a sequence of gates you can always assume a qubit started in the |0> state

[2020-04-16 05:26] amandalqy commented on #203
Thank you !  It helps me a lot!

[2020-04-16 13:52] zaqqwerty commented on #199
1) Separate functions make sense here because the boilerplate on the circuit executor layers is not simply error checking, but expansion of various possible inputs to common types and shapes.  Since this code should be identical for all 4 executor layers for their `inputs`, `symbol_names`, and `symbol_values` arguments, it would be better practice to have the code stand-alone.

2) Currently the `s

[2020-04-16 17:39] MichaelBroughton commented on #199
Offline discussion that cleared things up:
1. Discrepancy between different op error strings coming from different backends (C++ python) should be fixed for the sampled expectation layer.
2. While those are being fixed it would also make sense to improve the checks for `inputs`, `symbol_names`, `symbol_values` for execution type layers.

[2020-04-17 22:23] MichaelBroughton commented on #203
No problem

[2020-04-17 22:23] #203 closed

[2020-04-18 11:17] thubregtsen opened #206 "tensorflow:AutoGraph could not transform bound method ParameterShift.differentiate_sampled"
Filing bug report due to explicit request in warning message: "Please report this to the TensorFlow team."

Running code from: https://www.tensorflow.org/quantum/api_docs/python/tfq/layers/ControlledPQC

Specific bit of code:
[code]

[code]

Output:
WARNING:tensorflow:AutoGraph could not transform <bound method ParameterShift.differentiate_sampled of <tensorflow.python.eager.function.TfMethodTarge

[2020-04-18 22:50] MichaelBroughton commented on #206
Thank you for attaching all this information, I was able to reproduce and find a fix!

We have run into these sorts of problems before where the autographer almost gets through autographing stuff, but gets hung up on little things here and there. It looks like in this case we had some formatting that it struggled with in `parameter_shift.py`. Fix is up here #207 .

In the meantime you are safe to

[2020-04-19 01:03] zphy opened #208 "MPS Integration"
Are there plans for integration of MPS/DMRG simulation capabilities, either in TFQ or Cirq? Seems like a useful thing to have to access larger system sizes for some simple models for now

[2020-04-19 04:30] QuantumVerd commented on #208
Yes, there is something in the works along these lines.

[2020-04-20 01:40] zphy opened #210 "Arbitrary Input State Capabilities"
Are there functionalities in TFQ that allow one to specify an arbitrary input state in the 2^N Hilbert space? I understand that one could in principle make a circuit to prepare such a state, but in the case where, for example, the input state comes from solving the ground state of a many-body Hamiltonian, this might be very expensive to do, and it would be useful to be able to have an interface di

[2020-04-20 04:01] MichaelBroughton commented on #210
It isn't on the immediate horizon for TFQ. We have a few more core features we would like to finish first. If you really don't want to write down a circuit and want a way to import an initial wavefunction you could do something like the following:

[code]
This would give you a way to power the simulation of the `cirq.Circuit(...)` with whatever initial state you put into `something_i_made_myself`

[2020-04-20 04:15] MichaelBroughton commented on #208
The timeline for adding MPS or other kinds of simulators is likely going to be a long one for both TFQ and Cirq. #210 Goes over some methods that could serve as a somewhat "hacky" workaround to implement things like sampling or expectation calculation using alternative backends (although the methods in #210 have never been tested for such things).

If there is any outside interest in implementing

[2020-04-20 04:15] #208 closed

[2020-04-20 17:58] #206 closed

[2020-04-20 23:36] jarrodmcc opened #213 "Installation instructions not totally compatible with Python 3.8"
The instructions (those related to using pip install) are specific to versions of tensorflow etc that are natively accessible from pip due to the way they are tagged in Python 3.7 but not Python 3.8.  One could either update the instructions or mention that it is specific to 3.7 and below to avoid installation confusion.

[2020-04-21 03:06] MichaelBroughton commented on #213
Ahhh very good point. We could be more clear in specifying which python3 versions we support. We went for all possible python version compatible with https://pypi.org/project/tensorflow/#files and https://cirq.readthedocs.io/en/stable/install.html. Which is 3.6 and 3.7. Fix is here #214

[2020-04-21 22:11] #213 closed

[2020-04-22 02:32] zphy commented on #210
Thanks, this is very helpful. I'll take a look at it in more detail and let you know if I run into any issues.

[2020-04-22 10:24] jaeyoo opened #217 "[Discuss] Windows build failed due to uint64_t"
We recently got the compilation error [C2398](https://docs.microsoft.com/en-us/cpp/error-messages/compiler-errors-1/compiler-error-c2397?view=vs-2019) (interestingly, it `is` C2398, not C2397, as listed [here](https://docs.microsoft.com/en-us/cpp/error-messages/compiler-errors-1/compiler-errors-c2300-through-c2399?view=vs-2019)) during nightly build on Windows platform.
[code]

The ln 106 in tfq_c

[2020-04-22 22:37] MichaelBroughton commented on #217
Ahhh I saw the build failure. I had come to the same conclusion but opted to use `size_t` I'm not as worried about 64 bit indexing for unitary matrix for the following reason:

A unitary has memory footprint `2^2n * 64 bits`, indexing into `output_tensor` using a `size_t` will work up to 31 qubits meaning we'd need to have allocated `35 Exabytes` before we hit an overflow error. So I think narrowi

[2020-04-23 01:18] jaeyoo commented on #217
Oops,

[2020-04-23 01:22] MichaelBroughton commented on #217
Oops guess windows is still picky about the difference between `size_t` and `ptrdiff_t` haha.

[2020-04-24 01:52] jaeyoo commented on #217
Saw windows compiler were satisfied with our remedy :) @MichaelBroughton  Thank you for your help!
https://pypi.org/project/tfq-nightly/0.3.0.dev20200424/#files

[2020-04-24 01:52] #217 closed

[2020-04-27 23:52] perak opened #221 "How to use qsim with TFQ?"
Hi,

We are running simple benchmark on multiple simulators and both Cirq and TFQ gave us almost exactly the same performance results, so we assumed TFQ is using Cirq's simulator.

Question is: how to turn on qsim to run with TFQ, instead Cirq's simulator?

We are using CPU only machine (no GPU's/TPU's) if that matters.

Source code of QFT benchmark is here:

[code]

And results looks something li

[2020-04-28 00:20] perak commented on #221
I forgot to show versions:

[code]

[2020-04-29 00:58] MichaelBroughton commented on #221
qsim is enabled by default what you are running was using qsim, but there are a couple of things going on here:

1. You are using layers which have a bunch of convenience code in place that do make things much slower. For example inside of you're timing benchmark you are converting a `cirq.Circuit` into a `tf.Tensor` everytime which isn't necessary. This goes against the common workflow in TF and

[2020-04-29 07:47] perak commented on #221
@MichaelBroughton thank you for prompt answer.

Problem was that TFQ and Cirq show (almost) exactly the same performance with any number of qubits, so it look like results are coming from the same simulator. This is what we have when running (the same benchmark code) on Google Cloud `n1-standard-8` :

![benchmark_qft (2)](https://user-images.githubusercontent.com/5630814/80570777-acf8bb00-89fb-11e

[2020-04-29 10:55] MichaelBroughton commented on #221
OK. I took the code you pasted and made some quick changes:
[code]
I've opted to simulate the state since simulating the state and then sampling is testing more moving parts than necessary. I also switched to seconds since ms seems like overkill.

TFQ was designed to be fast for BATCHES of circuits not a SINGLE circuit. So when we run our simulator in your example, here is roughly what is happenin

[2020-04-29 16:28] perak commented on #221
@MichaelBroughton thank you very much for detailed clarification! <3

Benchmark repository is now public and  located here: https://github.com/quantastica/quantum-simulator-benchmark

So you can track results if you are interested.

We will add `qsimcirq` and hopefully more simulators (and more circuits, not only QFT).

I'm closing this issue now, thank you!

[2020-04-29 16:28] #221 closed

[2020-04-29 17:26] perak commented on #221
P.S. looks like there is no translation from Cirq to qsim for frequently used gates like Measure (!?) and CPhase.

We'll try to use qsim native input format instead converting from cirq, but that requires us to focus and spend time on this, so we'll skip adding both TFQ and qsim to benchmark for now.

[2020-04-29 22:26] perak commented on #221
OK, added qsim to benchmark, conversation is moved here: https://github.com/quantumlib/qsim/issues/88

[2020-05-01 00:14] MichaelBroughton commented on #65
This got fixed a while back.

[2020-05-01 00:14] #65 closed

[2020-05-01 00:16] MichaelBroughton commented on #15
This has been cut. Qsim operations get away without it just fine.

[2020-05-01 00:16] #15 closed

[2020-05-02 16:00] zaqqwerty opened #224 "Allow ragged operators?"
Currently the length of all operator lists must be equal.  Would be nice to figure out a way to make the following work:
[code]

[2020-05-04 21:10] MichaelBroughton commented on #224
I think @peterse had talked about this a while ago too. One concern I have with doing this is that we only really want to use Ragged when we have to and I don't think we should use ragged just out of a need for more convenience. If a user wants to have different sizes of paulis they can add a 0*PauliI term or they could split up the circuits into the ones they want to take ZZ on and the ones they

[2020-05-04 23:03] MichaelBroughton commented on #199
Has this been resolved now that we have `input_checks.py` in layers ?

[2020-05-05 00:26] MichaelBroughton opened #227 "Cut 0.3 Release"
With new Cirq 0.8 and Likely tf 2.2.0 on the way we should see about upgrading versions ourselves. This will be doable once we have #228 and #181 finished with tf.2.2 instead of the release candidate.

Going forward, now that we have an explicit dependency on cirq at a fixed version in `setup.py` we should be sure to remove the `!pip install cirq==0.7.0` lines from the notebook tutorials since tho

[2020-05-05 00:33] MichaelBroughton opened #228 "Upgrade to cirq 0.8"
Cirq 0.8 is out. Lets see if we can upgrade to depending on it.

[2020-05-05 00:36] MichaelBroughton commented on #87
This has gone stale. We currently use clang-format6 which should let people standardize to that. Closing for now can re-open if things come up.

[2020-05-05 00:36] #87 closed

[2020-05-05 00:42] MichaelBroughton commented on #53
This has been resolved.

[2020-05-05 00:42] #53 closed

[2020-05-05 00:43] MichaelBroughton commented on #27
@jaeyoo has this been resolved, or is it still an ongoing issue ?

[2020-05-05 05:08] jaeyoo commented on #27
This is still an ongoing issue. Please let me do it by this weekend.

[2020-05-05 12:54] jaeyoo opened #230 "Investigate the sampling behavior of ComputeSampledExpectation()"
This comes from the conclusion of review this PR #196 . The purpose of this issue is to find a way to reduce the number of samples in `linear_combination_test` from 3e6 to 2e3.

[2020-05-05 15:58] jaeyoo commented on #230
Here is a thing. @zaqqwerty @MichaelBroughton (and cc @QuantumVerd  because he wanted to have this feature :D)

Given Hamiltonian, we can generate a probabilistic distribution describing how many term is sampled from the terms with various ways. I want to introduce the best way of it.

Let `H` be a Hamiltonian with two terms to be sampled
`H=a*Z_1 + b*Z_2`
We can add up the absolute value of the c

[2020-05-05 20:54] #27 closed

[2020-05-05 22:02] MichaelBroughton commented on #230
Thank you for doing this investigation Jae! Looking at the implementation we used to use for SampledExpectation before #196 it looks like we also didn't have this "importance" based sampling approach. We followed closely along with what is done here: https://github.com/quantumlib/Cirq/blob/master/cirq/work/pauli_sum_collector.py#L27 . I think the reason they did it this way as apposed to the way H

[2020-05-05 22:38] MichaelBroughton opened #232 "Duplicate module paths"
While not a breaking issue, if a user looks at tfq.layers and then lists all available modules there are two paths to any given layer at the moment:

[code]
One could go `PQC` and `high_level.PQC`. This should be a quick fix.

[2020-05-05 23:21] jaeyoo commented on #230
Thank you Mike for the details. Yes, your investigations make it much clearer. then I think I need to investigate the new RNG part in TFQ deeper like why the uniform sampling behaves differently from `pauli_sum_collector`.

Also, for `EngineJob`,  sampled expectation would work, in my understanding, because the measurement parts would get the resolved circuits even if sweep varies parameters in th

[2020-05-06 00:44] smitsanghavi commented on #164
+1, It would be nice to fix these typos. This is the first tutorial that people will look at.

Also, it would better if the images were in a more editable format so that anyone can contribute.

[2020-05-06 02:55] XiaoTailong commented on #228
It seems that TFQ 0.2 is not suitable for Cirq 0.8. I expect the new version of TFQ.

[2020-05-06 03:18] MichaelBroughton commented on #228
Yes. TFQ 0.2 does NOT work with cirq 0.8. We also made the mistake of accidentally doing `cirq >=0.7.0` in our `setup.py` file for 0.2. This will be changed when the next TFQ comes out and pin us to a particular version so a user doesn't accidentally install cirq 0.8 and have tfq error out when using it.

[2020-05-06 16:14] zaqqwerty commented on #144
Resolved by #196

[2020-05-06 16:14] #144 closed

[2020-05-07 13:58] therooler opened #235 "State simulator dfference between Cirq and TFQ"
Environment:
**Python 3.7**
**tensorflow = 2.1.0**
**tensorflow-quantum = 0.3.0**
**Cirq = 0.7.0**

**Issue:** When running larger (N = 12) variational circuits `cirq.Simulator()` and `tfq.layer.State` output states that do not agree. When using this in VQE to find the ground state of some Hamiltonian, after convergence, the Cirq state has overlap ~1 with the ground state whereas the TFQ state doe

[2020-05-07 19:56] MichaelBroughton commented on #235
Was able to recreate on my end, tried using `backend=cirq.Simulator()` as well, which did bring things back to 0.99. My plan now is to review all of the changes that might have been made between our C++ version of qsim and the reference version https://github.com/quantumlib/qsim . Will report back with findings soon.

[2020-05-08 22:44] #235 closed

[2020-05-09 04:43] #228 closed

[2020-05-11 18:27] zphy opened #238 "Documentation Format"
In the documentation of some functions, e.g. PQC, Expectation, while there is a lot of nice description of the functionality, it would also be much more convenient for there to be a clear list of arguments, input shapes and output shapes, as is done in the regular tensorflow documentation. This might make it easier for an outsider to start using the codebase much faster, without needing to spend a

[2020-05-13 23:05] MichaelBroughton commented on #227
0.3 is out now.

[2020-05-13 23:05] #227 closed

[2020-05-18 01:57] cubicgate opened #242 "_tfq_utility_ops.so not found"
When I ran the example: hello_many_worlds.py, I got this error:

lib\site-packages\tensorflow_quantum\core\ops\tfq_utility_ops.py", line 19, in <module>
    UTILITY_OP_MODULE = load_module("_tfq_utility_ops.so")

tensorflow_quantum\core\ops\_tfq_utility_ops.so not found

I am using tensorflow  2.1.0 on Windows 10

[2020-05-19 08:41] MichaelBroughton commented on #242
Would you mind giving a little more information ?

Could you post the version of TFQ you are using and whether or not this was run locally or in the cloud along with the full error output ?

[2020-05-19 14:14] zaqqwerty opened #244 "Typo in error reporting"
Line 451 in `exponential`, error code refers to `coefficients`, but should refer to `operator`

[2020-05-20 01:16] #244 closed

[2020-05-21 10:13] jaeyoo commented on #242
If the error message is correct, I guess somewhere the code was broken concatenating two paths "tensorflow_quantum\core\ops" and "_tfq_utility_ops.so". It missed "\" between them.

[2020-05-22 01:24] cubicgate commented on #242
I have tried different versions of cpu and gpu so I am sorry that I can not reproduce the whole error message now.  Thanks for your kindness to help me!

[2020-05-22 01:27] cubicgate commented on #242
I did see the issue of the two paths as you suggested, but after I made the correction, I still had the same error message.  Thanks for your help!

[2020-05-28 09:55] armaneshaghi opened #248 "Example for image segmentation"
Does anyone know of an example code of TF Q for image segmentation? Would such an application be even possible?

[2020-05-28 14:27] MichaelBroughton commented on #248
This might be a question best suited for some sort of stackoverflow subsite where people are able to weigh in on different answers. I would recommend you check out: https://quantumcomputing.stackexchange.com/questions/11533/how-mature-is-the-tensorflow-quantum-library . It gives a rough overview of the kinds of ways ML and QC fit together.

To answer your first question: I personally don't know of

[2020-05-28 14:47] #248 closed

[2020-05-29 16:31] theRoughCode opened #249 "PQC in the middle of network"
Is it currently possible to include a PQC as part of a model? The current examples first converts the classical input before passing them into the model. I would like the conversion to happen within the network so that I can feed in classical data into the model. Thanks!

[2020-05-29 17:30] aswanthkrishna opened #250 "Support for Quantum Channels"
Is there an option to use a Quantum channel in my network.

[2020-05-30 02:18] MichaelBroughton commented on #249
Hmm I'm not sure I follow exactly what you are after. Could you help me understand the details a little better ?

I'm not sure if this is what you are after, but I can do something like this inside of a model:

[code]

This would let me put a `ControlledPQC` layer in the middle of a larger model. With this I could fix the `quantum_data` tensor to be constant while I vary the values in `model_param

[2020-05-30 02:29] MichaelBroughton commented on #250
Currently there isn't support for **explicit channel placement** in circuits in TFQ. There are two alternatives though:

1. You could place errors into your circuits manually (in the form of gates) and simulate those batches of circuits on their own and average their outputs together.

2. You can also do something like this:
[code]
Here you can calculate expectation values from a noisy simulation,

[2020-05-30 09:27] aswanthkrishna commented on #250
Thank you for your quick response, Michael! can you give an example or point to a resource for doing the first method. I am only familiar with simulating batches of circuits with the same structure but diff parameters.

[2020-05-30 16:32] theRoughCode commented on #249
Thanks for the quick follow-up! Hm, that might work. Basically, I'm trying to apply the same quantum network across classical data (i.e. a parameterized encoding layer that takes in classical data, runs quantum processing, and outputs classical data). Something like this:
[code]

[2020-05-31 20:59] theRoughCode commented on #249
Update: I might have managed to make it work by define the weights as a `tf.Variable` (with `trainable=True`) and passing in the input image and the weights in as `model_params`.

I'm not sure if this is the right way to go about this, but the model appears to have compiled successfully. However, the model is not training so I'll have to do more digging on whether my implementation is correct.

[2020-06-01 00:12] #67 closed

[2020-06-01 16:31] Lucaman99 opened #251 "VQT Example in Research Branch Crashes"
When I attempt to run the [VQT example in the Research branch](https://github.com/tensorflow/quantum/blob/research/vqt_qmhl/vqt_qmhl.ipynb), in Colab, it seems to crash. I've tried to diagnose the problem, as I initially assumed it was an issue with my computer/runtime, but I can't seem to fix it, and the error message says it is crashing for an "unknown reason".

It is possible that this is an is

[2020-06-01 20:26] MichaelBroughton commented on #249
Glad to hear you made some progress! I think I get what you're after now so I'll take a stab at it:

If the goal is to have some circuit that encodes data into certain circuit symbols (potentially from a downstream model) that also incorporates learnable symbols that should be trained as the overall model is trained (symbols that are different from the encode symbols) you can do something like thi

[2020-06-01 20:48] MichaelBroughton commented on #250
Sure thing. I will say that the first method does not allow for as rich a set of errors as the second method. Here's a simple problem where I might accidentally apply an x**0.5 before enacting my desired circuit of just X. This happens with probability 0.1:

[code]

Going to close for now :)

[2020-06-01 21:34] MichaelBroughton commented on #251
I just ran the notebook from end to end in a remote colab. One thing that did happen is when installation rolled around it told me I needed tf 2.2 for the latest version of tf probability to work. We don't yet support tf 2.2 so I opted to downgrade tf prob to 0.9 and then everything worked. If I went the route of the 2.2 upgrade I got the "unknown reason" crash which usually means a segfault somew

[2020-06-02 01:59] theRoughCode commented on #249
Yes, that's exactly what I'm after and that's pretty much what I've done, but with a `ControlledPQC`. Your approach does look cleaner as it specifically identifies which params are tunable weights and which one are being used as input from a classical layer.

My first intuition was to be able to pass in `tf.Input` of type `tf.float32` for example instead of `tf.string` that represents a circuit as

[2020-06-02 01:59] #249 closed

[2020-06-02 05:10] aswanthkrishna commented on #250
thank you! This was really helpful!

[2020-06-02 15:43] aswanthkrishna commented on #250
How should I go about adding a PQC before/after this noise layer? I am trying to optimize an Error Correcting Code. Thanks in advance.

[2020-06-02 16:10] cubicgate opened #252 "Help to understand QCNN?"
Could anyone help to explain how this function works?

def two_qubit_pool(source_qubit, sink_qubit, symbols):
    """Make a Cirq circuit to do a parameterized 'pooling' operation, which
    attempts to reduce entanglement down from two qubits to just one."""

https://github.com/tensorflow/quantum/blob/master/docs/tutorials/qcnn.ipynb

     Thanks!

[2020-06-02 16:48] MichaelBroughton commented on #252
This function is to recreate a `cirq.Circuit` that enacts something similar to the pooling operation used in https://arxiv.org/pdf/1810.03787.pdf . If you want more details than what we give in the tutorial I would recommend giving it a read :)

[2020-06-02 17:03] MichaelBroughton commented on #250
These are really open ended question so I can't give you very specific answers:

I don't know what the specific problem you are trying to solve is but a `PQC` layer can accept any kind of `cirq.Circuits` that have been converted to a `tf.Tensor` using `tfq.convert_to_tensor`.

There are lots of different things one could "optimize" when it comes to error correcting codes. I would recommend reading

[2020-06-02 17:18] cubicgate commented on #252
Thanks @MichaelBroughton ! In that paper, they showed a measurement so two qubits are reduced to one.  But in this function, there is no measurement:

def two_qubit_pool(source_qubit, sink_qubit, symbols):
    """Make a Cirq circuit to do a parameterized 'pooling' operation, which
    attempts to reduce entanglement down from two qubits to just one."""
    pool_circuit = cirq.Circuit()
    sink_ba

[2020-06-02 17:36] MichaelBroughton commented on #252
Yes, instead of measuring we just discard the unused qubits and don't operate on them anymore (which in this context has the same effect).

[2020-06-02 17:58] cubicgate commented on #252
Thanks @MichaelBroughton ! Which lines do the job of "discard the unused qubits"?  Beacuse of
cirq.CNOT(control=source_qubit, target=sink_qubit), the two lines are entangled. How do you discard the unused qubits?

[2020-06-02 18:09] MichaelBroughton commented on #252
This happens in software. You can see later on in the tutorial that as we apply the conv and pool layers we operate on fewer and fewer qubits as the network gets deeper. Finally the fact that we don't measure or continue to operate on those qubits is how they get discarded.

If things are still unclear I would recommend examining the circuits and readout operators we are using in the QCNN tutorial

[2020-06-02 18:09] #252 closed

[2020-06-02 18:15] cubicgate commented on #252
Hi @MichaelBroughton, Could you explain this comment:
"""Make a Cirq circuit to do a parameterized 'pooling' operation, which
attempts to reduce entanglement down from two qubits to just one."""
What are the two and what is the one in this comment?
 Thanks!

[2020-06-02 18:32] Lucaman99 commented on #251
@MichaelBroughton This worked for me, thank you!

[2020-06-04 11:11] cubicgate opened #253 "One question for hello_many_worlds"
In the hello_many_worlds:
https://www.tensorflow.org/quantum/tutorials/hello_many_worlds

2.4 Input crcuit definition
datapoint_circuits = tfq.convert_to_tensor([
  noisy_preparation
] * 2)  # Make two copied of this circuit

There are two copies of the circuit, one for each datapoint.

I am wondering if we had 10000 datapoints, then we need 10000 copies of the circuit?
Or it just runs the same ci

[2020-06-05 19:52] MichaelBroughton commented on #253
If you have 10,000 unique datapoints (each with a different circuit) then yes you would need 10,000 elements in that tensor. If your datapoints aren't unique then you likely don't need a length 10,000 tensor. To clarify in that example the `datapoint_circuits` represent the data points themselves and there is a different circuit that has these data points prepended to them which does the modeling.

[2020-06-05 22:35] cubicgate commented on #253
Thanks @MichaelBroughton  for your help. I was referring to the comment of "Make two copied of this circuit". Making copies means that they are creating the a list of the same circuit. I am curious about how this is implemented in Google hardware.

[2020-06-05 22:47] cubicgate commented on #252
Hi @MichaelBroughton, one of the consequences of pooling is to create nonlinear effect. If you do not take any measurement in the process, then I guess you do not have this effect?  Thanks!

[2020-06-05 23:09] MichaelBroughton commented on #253
Making copies does indeed mean that those datapoints were the same. If we wanted to run this on a true chip , we would simply execute each full circuit one by one on the hardware.

[2020-06-05 23:36] cubicgate commented on #253
Thanks @MichaelBroughton ! That helps me to understand it.

[2020-06-06 16:46] #253 closed

[2020-06-06 16:47] cubicgate opened #254 "Error in tfq.layers.Sample()"
When I tried the example: https://www.tensorflow.org/quantum/api_docs/python/tfq/layers/Sample
sample_layer = tfq.layers.Sample()
output = sample_layer(get_circuit(), repetitions=4)
output
I got:
<tf.RaggedTensor [[[0, 0], [0, 0], [0, 0], [0, 0]]]>
Instead of [1,1] as shown in the example.
Here is the full message:

tensorflow_core\python\util\deprecation.py:507: calling count_nonzero (from tensor

[2020-06-06 17:00] MichaelBroughton opened #255 "Explore alternate parallelization"
Currently our C++ op implementation for circuit simulation does this:
1. Parse all the circuits in parallel
2. Simulate each circuit on on it's own thread with it's own independent memory.

This works fine for smaller systems. but if you want to simulate larger systems and have limited memory this breaks down. Doing something like this:

1. Parse all circuits in parallel
2. Simulate each circuit o

[2020-06-06 17:41] MichaelBroughton opened #256 "Adjoint Differentiation"
While not really viable for NiSQ circuits (outside of simulation), the request has been made a few times to implement the adjoint gradient calculation method for differentiation. This would roughly entail:

1. Writing a new C++ op to calculate gradients via the adjoint method
2. Writing a new differentiator that uses this op inside of it and only defines this operation for `differentiate_analytic`

[2020-06-07 06:47] refraction-ray commented on #256
This will definitely be a great feature especially in the context of variational circuit simulations where gradients can be obtained more quickly compared to finite difference or parameter shift (which is also somehow finite difference) when the number of variational params is large.

I also want to mention that backward AD in circuit case (reversible) can be implemented in a more memory efficient

[2020-06-07 06:58] MichaelBroughton commented on #254
Could you please share the exact code you used to generate this output ?

[2020-06-07 10:14] cubicgate commented on #254
Hi @MichaelBroughton : Here it is:
import tensorflow as tf
import tensorflow_quantum as tfq
import cirq

def get_circuit():
    q0 = cirq.GridQubit(0, 0)
    q1 = cirq.GridQubit(1, 0)
    circuit = cirq.Circuit(
        cirq.X(q0),
        cirq.CNOT(q0,q1)
    )

    return circuit

sample_layer = tfq.layers.Sample()
output = sample_layer(get_circuit(), repetitions=4)
print(output)

[2020-06-07 17:16] MichaelBroughton commented on #254
I was not able to reproduce your all zero output. What version of TFQ are you using ?

[2020-06-07 17:40] cubicgate commented on #254
I use: 0.3.0

[2020-06-08 00:09] MichaelBroughton opened #257 "Add Supported for PhasedXZGate"
There's a new and obscure gate in Cirq! The PhasedXZGate. We should add support for this gate inside of TensorFlow Quantum. Like all gates this means:

1. Adding rules to `serializer.py`
2. Implementing the gate in qsim
3. Adding a rule in `tfq_ps_decompose_op.cc`
4. Hooking the gate into all existing python fuzz tests and `supported_gates` function in `util.py`.

Do @jaeyoo or @zaqqwerty have any

[2020-06-08 00:23] jaeyoo commented on #257
I am interested in 1 & 3.

[2020-06-08 00:24] MichaelBroughton commented on #257
Sounds good :)

[2020-06-08 01:00] jaeyoo commented on #257
Thanks. Let me open a PR for 1 in this week

[2020-06-09 13:20] edgard-pierre opened #259 "TFQ with Sympy v 1.5 compatibility"
Hi.
Reading the requirement.txt file, I noticed there were a strict requirement on Sympy version: sympy==1.4 . Since 1.5 was release with a lot of new features, I was wondering if a tfq version compatible with sympy 1.5 (or more) was planned.
Thanks.

[2020-06-09 21:53] MichaelBroughton commented on #259
Yes! Supporting updates to newer sympy versions should be doable. I believe it would ultimately come down to tinkering with the tests and logic in `serializer_test.py`.

Would anyone be interested in taking this on ? @zaqqwerty or @jaeyoo or @edgard-pierre

[2020-06-10 06:22] refraction-ray opened #260 "Is there a way to directly feed quantum states into PQC layer?"
It seems to me the quantum data as input layer are always via ``convert_to_tensor`` from ``cirq.Circuit``.  In some scenarios, we may need to feed the circuit model complicated input states which are not easily captured or built by a circuit on zero states (though this can always can be done in theory, the depth of the preparation circuit may be very large or the explicit construction is hard to f

[2020-06-10 07:32] vinitX opened #261 "Generalized PQC Measurement"
I am trying to create a QML model using PQC but as an output, I want to retrieve the whole state.

For instance, if I am working on a 2-qubit circuit. Then the final state is a superposition of |00>, |01>, |10>, and |11> eigenstates. I need the estimated probabilities of each eigenstate as the output. Currently, PQC supports only separate measurement over each qubit.

I also tried using State laye

[2020-06-10 07:39] vinitX commented on #260
#210 Contains a similar issue.

[2020-06-10 07:45] refraction-ray commented on #260
@vinitX , thanks for pointing this, I will have a look on it and close this issue

[2020-06-10 07:45] #260 closed

[2020-06-11 15:30] cubicgate commented on #242
Hi @MichaelBroughton , I tried different ways and still did not know what was the reason for my issues. Finally, I tried using anaconda, it works now.  Thanks!

[2020-06-11 15:31] #242 closed

[2020-06-11 17:31] MichaelBroughton commented on #255
#221 is Related. Rotosolve optimizer would benefit greatly from second parallelization scheme

[2020-06-12 01:48] MichaelBroughton commented on #257
After talking with the people working on qsim it looks like this may be looked after for us already. This should come for free when we switch over to using the OSS version of qsim

[2020-06-12 07:10] jaeyoo commented on #257
Thanks a lot, then I will not work on it :)

[2020-06-13 08:58] vinitX commented on #261
Thank you, Michael, for clarifying my doubts in such great details.

What I am working on is a QML model where both the input and the output are quantum states. I have figured out a way to encode the input quantum state, now what I need is a way to retrieve the output state back or at least the probabilities of each eigenstate. I believe a real quantum computer will be capable of giving us estimat

[2020-06-14 02:34] MichaelBroughton opened #263 "[Tracking] qsim migration"
Now that qsim has open sourced and has enough features and tests, I think it's time we move to depending on them and having one version of qsim instead of ours and theirs. In order to begin the changeover this will roughly entail:

1. ~renaming our `qsim` namespace to `qsim_old` to avoid collisions and make development easier.~
2. ~Add a `circuit_parser_qsim.h` file in `src` that ingests `cirq::ap

[2020-06-14 17:44] ghellstern commented on #249
Hi Michael,
thanks for your hint how to use PQC in the middle of a network !
However, unfortunately I didn't manage to implement your snippet working :-(

My use-case is quite simple:
Input of classcical data --> use a classical NN with e.g. 10 parameters to extract eg. 3 angles --> prepare a Circuit with these 3 angles --> add a second circuit with three learnable angles ---> Measure <Z> and comp

[2020-06-15 03:56] nargesalavi opened #264 "ControlledPQC Layer Without Measurement Operators"
I am trying to create an adversarial quantum neural networks containing two hybrid quantum classical NN model. In the first model, a classical NN is going to find the parameters for a parameterized quantum circuit. However, the output of this QCNN should not be measured, since this output is going to be the input of the other QCNN’s PQC layer. So I need a controlled PQC layer that outputs circuits

[2020-06-15 18:38] zaqqwerty commented on #263
Tagging #171, TBD if this is needed or if external qsim handles this well

[2020-06-15 19:33] MichaelBroughton commented on #263
External qsim has since fixed their fuser.

[2020-06-15 20:24] MichaelBroughton commented on #264
Yes this seems like it should be possible. If you need a controlledPQC layer that "outputs your circuit" without measuring it, but is still able to pass gradients through it by measuring you can do something like this:

1. Create a compute graph containing the ops that you want to use during the differentiation of the compute graph. I.e. Include a `controlledPQC` somewhere.
2. Append a second outp

[2020-06-15 20:33] #259 closed

[2020-06-16 05:34] tbcdebug opened #266 "An error in hello_many_worlds tutorial notebook"
This [image](https://github.com/tensorflow/quantum/blob/master/docs/tutorials/images/nn_control1.png) is incorrect. The gates should be $R_x(\beta_1)$, $R_y(\beta_2)$, $R_z(\beta_3)$, $R_z(\theta_1)$, $R_y(\theta_2)$, $R_x(\theta_3)$.

[2020-06-16 05:49] tbcdebug commented on #266
I believe [the other figure](https://github.com/tensorflow/quantum/blob/master/docs/tutorials/images/nn_control2.png) in this Notebook also has this problem.

[2020-06-16 17:27] ghellstern opened #267 "PQC in the middle of network, contd."
Glad to hear you made some progress! I think I get what you're after now so I'll take a stab at it:

If the goal is to have some circuit that encodes data into certain circuit symbols (potentially from a downstream model) that also incorporates learnable symbols that should be trained as the overall model is trained (symbols that are different from the encode symbols) you can do something like thi

[2020-06-16 17:28] ghellstern commented on #267
Thanks for your hint how to use PQC in the middle of a network !
However, unfortunately I didn't manage to implement your snippet working :-(

My use-case is quite simple:
Input of classcical data --> use a classical NN with e.g. 10 parameters to extract eg. 3 angles --> prepare a Circuit with these 3 angles --> add a second circuit with three learnable angles ---> Measure and compare it with the

[2020-06-17 19:40] #266 closed

[2020-06-17 21:13] MichaelBroughton commented on #267
When one uses `tf.concat` this gives a "combining effect" in the forward pass and a "splitting effect" in the backwad pass. The problem you are describing fits exactly into the snippet above. If I do:
[code]
When I concat the values from `tunable_params` and `encoder_params` together, I am combining them into a larger batch of vectors in the forward pass. In the backward pass they are split and gr

[2020-06-17 21:15] nargesalavi commented on #264
Thank you so much, yes, it really helped.

Actually, the classical parameters need to be passed through the outputs, that need to be of type circuits, to the second QCNN, and then after some changes that this second QCNN applied, qubits are going to be measured for the loss function. What you said brought about an idea to me that for training each of these QCNNs, I have to design two different con

[2020-06-17 21:15] #264 closed

[2020-06-18 19:23] ghellstern commented on #267
Thanks a lot for your clarification ! While the principle how it works is clear, I still struggle with the details. Following your suggestion I developed the following code:

`import`` tensorflow as tf
import tensorflow_quantum as tfq
import cirq
from cirq.contrib.svg import SVGCircuit
import sympy
import numpy as np

# Create One-Dimensional-Data for Classification
np.random.seed(seed=123)
n = 90

[2020-06-18 20:28] MichaelBroughton commented on #267
Ok, taking a quick glance at your code. There are several areas I would suggest investigating:

1. You are concatting along `axis=0` which produces the shape `(None, 1)` which seems strange. My initial guess is that you would want `axis=1` to produce shape `(None, 2)`. Like I mentioned in the previous comment, check out : https://www.tensorflow.org/api_docs/python/tf/concat for more information on

[2020-06-19 12:34] ghellstern commented on #267
Thanks a lot!
1) Sorry, of course! It should be axis=1. Unfortunately this doesn't help much. The network still looks. very weird.

2) Not working with keras but with "pure" tensorflow would of course be very cumbersome and not really an alternative.... By making a small custom layer you mean starting from the exisiting class Expectation(tf.keras.layers.Layer) and modify it appropriately ? Or star

[2020-06-19 20:32] MichaelBroughton commented on #267
OK. I'm going to do my best to answer your questions and try to help things along. For starters here is a working snippet of what you want to do:

[code]

Let's go over some key points. On line 30 of the snippet, you can see I've made my own little Keras Layer. This layer was made by following the guide here: https://www.tensorflow.org/guide/keras/custom_layers_and_models . In it's constructor the

[2020-06-20 13:58] refraction-ray opened #271 "SampledExpectation layer seems to recompute the same circuits for different measurement ops"
Example
[code]

It is unnatural to me that, when ``repetitions=1`` (1 sample), we have inconsistent measurement results between Z1, Z2 and Z1*Z2.

And from code here https://github.com/tensorflow/quantum/blob/db2eac4e598f614a8c0e157c56313a23ef1943fb/tensorflow_quantum/core/ops/batch_util.py#L554-L561, this may be due to that each circuit, batch, measurement ops combination is simulated separately

[2020-06-20 20:35] MichaelBroughton commented on #271
Thanks for raising this issue. Let me explain our thinking when a user provides a circuit with three different readout operations like you have. It's possible to have entirely different circuits and entirely different operators to take the expectation with. I'm going to refer to the examples from the documentation here: https://www.tensorflow.org/quantum/api_docs/python/tfq/layers/SampledExpectati

[2020-06-21 00:48] refraction-ray commented on #271
@MichaelBroughton , thanks for your detailed explanation,  it helps a lot!
By considering non-simultaneous observables, (such as X1, Z1, X1*Z1) it is indeed better to keep the current behavior.
It would be better the documentation is more clear on this point, in case someone (like me) wrongly relies on ``repetitions=1`` and found the result a little confusing.

[2020-06-21 00:52] MichaelBroughton commented on #271
Good idea! I can take that on, unless you would like to :) ?

[2020-06-21 00:58] refraction-ray commented on #271
Please go ahead :)

[2020-06-21 06:40] jaeyoo opened #272 "qsim path is weird"
Let's investigate why this happens:
[code]
and if it is possible that:
[code]

[2020-06-21 08:09] ghellstern commented on #267
Dear Michael,
thanks a lot !!! I really appreciate your help and now it's working perfectly !!! I'm sorry that I am not a tensorflow expert (yet) so I was not able to fill the missing steps in beetween. Acually I studied the QCNN example in detail and (unsuccessfully) tried to transfer the code. Concerning PennyLane I totally aggree with so. It is cute to implement but unbelievable slow :-( Thats

[2020-06-21 08:09] #267 closed

[2020-06-22 07:46] aswanthkrishna opened #273 "help needed with tf.reduce_mean()"
I have a 2D tensor of circuits. I wish to find the expectation values of an operator for these circuits, and take the mean along an axis.
 I have tried using `tf.reduce_mean().`

it is giving me this error.

[code]
am I doing something wrong?
Thanks in advance!

[2020-06-22 13:45] askolik opened #275 "NotEncodableError when calling model.save()"
I want to save a full Keras model with the save() method, which looks similar to the following basic example:

[code]

This fails with the following error:

[code]

When I change to another initializer, e.g. initializers.Zeros, the error message still says that there is no encoder for the RandomUniform object, so I'm also wondering if something with passing the initializer is also going wrong?

[2020-06-22 15:06] zaqqwerty commented on #273
Hi, our circuit execution layers currently accept either a single Cirq circuit or a 1D list or tensor of circuits.  To emulate higher dimensional circuit inputs, you can use the [tf.reshape](https://www.tensorflow.org/api_docs/python/tf/reshape) op on the output of our quantum layers.

Here is a code example to demonstrate the reshaping:
[code]

[2020-06-22 15:26] zaqqwerty commented on #164
Resolved by #268

[2020-06-22 15:26] #164 closed

[2020-06-22 19:10] MichaelBroughton commented on #275
We don't support `model.save` at this time, but we do support `model.save_weights` which will allow you to fully reconstruct your original model if you have the source code. Check out ( https://stackoverflow.com/questions/60682091/cannot-save-tensorrflow-keras-quantum-model-using-save-pickle )

[2020-06-22 19:13] MichaelBroughton opened #276 "[Performance] Consolidate the sample_op to into one op"
Right now our sample op does the following:
1. Computes the state vector
2. Using the built in TensorFlow sampling op to gather bitstrings

This is costly because we do have to pass wavefunction through Tensors. It would be a little better if we could do all of this in one op.

This would not affect sampled expectation or expectation.

[2020-06-22 19:23] MichaelBroughton commented on #272
I think this has to do with: https://github.com/quantumlib/qsim/issues/69

[2020-06-22 19:39] aswanthkrishna commented on #273
Thank you @zaqqwerty . can i train such a model?

[2020-06-22 23:43] MichaelBroughton commented on #263
Now that we are on Step 4 and want to integrate qsim into our first op which @jaeyoo wants to take on, we need to do the following things:

1. Implement our own TFQFor to use with qsim that has the same Run and RunReduce function as this: https://github.com/quantumlib/qsim/blob/master/lib/parfor.h . The reason we need this is because openMP isn't supported in TF and we need to use TF threading: ht

[2020-06-23 00:26] MichaelBroughton opened #277 "[Discussion] Dataset integrations"
We recently had our first outside contributor add to TFQ datasets. Big thanks @therooler and the rest of the U of T folks! Now that we have our first example in place, let's use this issue to plan out the new datasets we want to add in an open discussion. To my knowledge these sorts of things were up for discussion (correct me if I'm wrong @therooler ) :
1. ~1d TFI chain~
2. 2d TFI grid
3. TFI on

[2020-06-24 03:27] refraction-ray commented on #277
Hi, I am just curious what is the format for these quantum dataset, i.e. are these quantum data stored in the form of a circuit or wavefunctions, since tfq seems to only naturally interact with data in the form of preparation circuits (i.e. ``data = tfq.convert_to_tensor(circuit)``).

For quantum state data, there are commonly three types of expressions, wavefunction/tensornetwork/preparation circ

[2020-06-25 01:05] MichaelBroughton commented on #277
Good question! Some initial thoughts: In general a library like Cirq encourages research/experiments that are relevant for the NiSQ era (though it is possible to do much more than just this). This places the focus on **Circuits** specifically ones that are constant or log depth (polynomial is fine too). That should also be our focus here.

With that in mind I'm not aware of any general tools that

[2020-06-25 01:18] refraction-ray commented on #277
@MichaelBroughton , thanks for your answer. It's glad to learn that VQE can keep very good tradeoff between circuit depth and output fidelity. If this is always the case, then VQE is a very promising general approach bridging the gap between other format of states with preparation circuits here. (Though it is subtle for highly entangled state, I guess, which may require deeper circuit to achieve h

[2020-06-25 02:27] therooler commented on #277
Thanks, we're excited to be a part of the TFQ data development process! Let me summarize our results again:

For these models we actually have the data:
1.) 1D XXZ chain (closed) for N=4,8,12,16 with a depth N circuit for Delta in [0.5,1,5].
We can solve both the chains (TFI and XXZ) with open boundary conditions. But maybe this should not be a priority, because the important physics is similar.
F

[2020-06-30 20:42] karlunho opened #280 "Document how to use TFQ with noisy simulators in Cirq"
It would be good to create an example showing how to do training on a noisy simulator. Pennylane has a good example of this :

Tutorial : https://pennylane.ai/qml/demos/tutorial_noisy_circuit_optimization.html
API Documentation : https://pennylane-cirq.readthedocs.io/en/latest/devices/mixed_simulator.html

[2020-06-30 21:02] karlunho opened #281 "Document how to configure different Backends with Cirq"
By default, TFQ uses qsim when executing circuits. There isn't any good examples that show how to use Cirq Sampler - which makes it difficult to use either the quantum computer or a simulators in Cirq.

[2020-07-01 00:17] #171 closed

[2020-07-01 00:17] #59 closed

[2020-07-01 00:17] #60 closed

[2020-07-01 00:17] #58 closed

[2020-07-01 02:31] MichaelBroughton commented on #280
Good idea. Currently our performant simulator and our support for `cirq.Sampler` or `cirq.SimulatesFinalState` go through two different code paths. The C++ path which is fast and what we default to as the preferred path. The slower, but more flexible path is through the `py_function` interface (The same one that pennylane uses to call on Cirq). We view this slower path as only really necessary for

[2020-07-01 02:32] MichaelBroughton commented on #195
This has been resolved.

[2020-07-01 02:32] #195 closed

[2020-07-01 13:53] refraction-ray opened #284 "output shape of Expectation layer"
Expectation layers can feed with batch of circuits, symbol values and measurement operators. However, the output shape shows some conflicts with different combination of batches in the input and even segfault may occur. See the following demo:

[code]

The batch of symbol values and batch of circuits both take the first dimension of outputs. And when both are in batch form, circuits beyond the fir

[2020-07-01 14:07] refraction-ray opened #285 "Higher order gradient of tfq layers"
Both first order derivative of tfq layers and higher order gradient of non tfq layers work with ``GradientTape`` as follows:
[code]

However the following doesn't work, with tensorflow error as
``InvalidArgumentError: Operation 'cond' has no attr named '_XlaCompile'.  ValueError: Insufficient elements in branch_graphs[0].outputs.
Expected: 6
Actual: 5``
[code]

Is my code wrong or tfq layers have

[2020-07-01 17:41] therooler commented on #277
Maybe I can also summarize some of the discussion we had about the labels for the datasets for the `spin_systems` module in TFQ, so that people have some idea what the current setup is. Right now, we supply a quantum circuit with resolved parameters that corresponds to the ground state wave function of a Hamiltonian for a certain order parameter. In addition, we return the exact 2^N ground state a

[2020-07-01 22:22] MichaelBroughton commented on #284
Thanks for raising this issue. Couple thoughts:

1. Creating one layer and calling it over and over with different input signatures is not a natural workflow for TF and Keras, usually one creates a single layer that in turn gets linked into a larger computation graph. From there input and output pairs are sent through the graph.

2. The reason you are getting this strange behavior is because each

[2020-07-01 23:24] MichaelBroughton commented on #276
Duplicate of #183

[2020-07-01 23:24] #276 closed

[2020-07-01 23:50] refraction-ray commented on #284
@MichaelBroughton , thanks for your reply.
I changed ``expectation`` in the above code with ``tfq.layers.Expectation()`` and the shapes of all the outputs as well as the last segfault persist. So the issues 1. circuit batch and symbol values batch both take the same dimension in the outputs and hence may be conflict and 2. segfault in the last line persist.

[2020-07-02 00:35] MichaelBroughton commented on #284
Ok In that case we should definitly look into the segfault issue.

What exactly do you mean by this ? I ran the snippet above just now and saw that there were different output shapes, but that is to expected since the input signatures are different.

[2020-07-02 00:46] refraction-ray commented on #284
You can check the comments after each print line in the code. Basically, there are three things can provided in batch (list) for expectation layers. They are input(circuits), operator(measurement), and symbol_values. However, the output shape rank is always 2. The second dimension is determined by operator batch, while the first dimension is determined either by input batch or symbol value batch.

[2020-07-02 01:27] MichaelBroughton commented on #284
This is the desired behavior. In the case of the circuits input **not being a list or tensor**, the layer will create multiple copies of the circuit in order to resolve each variable value into it in a 1:1 fashion:

[code]
This gives output shape 2,2 where `out[i][j] = [[<c1([0,0]) | m1 | c1([0,0])> , <c1([0,0]) | m2 | c1([0,0])>], [<c1([1,1]) | m1 | c1([1,1])> , <c1([1,1]) | m2 | c1([1,1])>]]`

W

[2020-07-02 01:43] refraction-ray commented on #284
Wow, this makes tons of sense. Thanks for your detailed clarification! And I believe this is why there is segfault when circuit batch mismatches with symbol values batch (although as you said, segfault should never happen in robust implementations)

[2020-07-03 00:48] zaqqwerty commented on #60
Resolved by #283

[2020-07-03 00:49] zaqqwerty commented on #171
This collection should occur in the external qsim library.

[2020-07-06 14:51] zaqqwerty opened #286 "Circuit parameter filler op and layer"
It seems a useful and general capability in TFQ would be a user facing parameter resolver.  Instead of:
[code]
I would like to be able to generate the list of bitstrings via a TensorFlow op, so that I would need to resolve the circuits via something like:
[code]
where `tfq.layers.ResolveParameters` would live next to `tfq.layers.AddCircuit` in the circuit construction module.  It would fill in any

[2020-07-06 20:07] MichaelBroughton commented on #286
This is an interesting idea, do you think we need a full blown layer (i.e. are there multiple differen input signatures we want to support ? ) Also this layer would block differentiability on symbols that get resolved in them along the way (since there would be no way to pass them back). Are we ok with this ?

[2020-07-07 04:24] zaqqwerty commented on #286
I can imagine a few input signatures, output always 1-D tensor of circuits:

- 0-D circuits, 1-D symbols, 1-D values: `values` are resolved into one copy of given `circuits`
- 0-D circuits, 1-D symbols, 2-D values: `circuits` is tiled `values.shape[0]` times, each copy filled with corresponding row of `values`
- 1-D circuits, 1-D symbols, 1-D values: `symbols` is contained in the intersection of t

[2020-07-07 23:16] zaqqwerty opened #287 "Some links broken in documentation"
The links to the possible `cirq` backends in the tfq.layers documentation yield a 404 error, for example see documentation for the [Sample layer](https://www.tensorflow.org/quantum/api_docs/python/tfq/layers/Sample).

[2020-07-08 08:33] MichaelBroughton commented on #287
This is a known issue. Pretty sure it has to do with @yashk2810 working with other docs ?

[2020-07-08 13:39] yashk2810 commented on #287
This should have been fixed last week but my jobs failed due to a TFP issue.

It'll get fixed today or tomorrow.

[2020-07-09 04:18] MichaelBroughton commented on #286
Sounds good. This looks like it would be a fair amount of work, but nothing *super* difficult. I'm guessing this would roughly entail:
1. Adding a C++ op with a 1:1 resolution rule. (signature should look identical to `tfq_simulate_state` only instead of outputting state vectors , we would just get circuits). Testing the consistency with `cirq.resolve_parameters` (or something like it). Writing do

[2020-07-09 05:50] jaeyoo commented on #285
https://arxiv.org/pdf/1901.05374.pdf

Please see the section 3.4

It is not implemented in TFQ yet.

[2020-07-09 06:55] MichaelBroughton commented on #256
Would you mind elaborating on this method you are describing ? Suppose I have this circuit
[code]
and I want to compute the gradient of `<psi | X(0,0) * X(0, 1) | psi>` w.r.t `alpha` and `beta` where lets say `alpha = 0.123` and `beta = 0.456`. Can you help me understand what you have in mind to save memory and make things more efficient here ( I didn't exactly follow what you mentioned above ) ?

[2020-07-09 07:46] refraction-ray commented on #256
Hi, @MichaelBroughton , I have just written some short notes on this but still in an abstract fashion. I don't know whether it is clear enough or make sense to you.  If you still have any questions, we can further discuss on that and maybe go through the detailed example you presented above.

<img width="903" alt="Screen Shot 2020-07-09 at 15 42 43" src="https://user-images.githubusercontent.com/3

[2020-07-09 10:08] #273 closed

[2020-07-09 12:50] wangleiphy commented on #256
You can also refer to Section 3 "Reversible Computing and Automatic Differentiation" of the [Yao.jl paper ](https://arxiv.org/abs/1912.10877). This is the key technique that allows Yao.jl to train a, say, 10000 layer variational circuit on a laptop.

[2020-07-09 15:06] zaqqwerty commented on #286
These sound like good steps to me :)  I am interested in taking this on, it will be helpful for our research use-case (making the circuit fill-in be part of the TF graph)

[2020-07-10 02:51] MichaelBroughton opened #290 "Add python 3.8 Support"
Python 3.8 is out now and we might want to look into making wheel files internally for our next major release. It might also make sense to revive the old tf 2.2 upgrade PR #181 and convert it to a 2.3 upgrade, since tf 2.1.0 is no longer supported on python 3.8. What do you think @jaeyoo ?

In order to tackle this we would need to:
1. Upgrade our dependency from tf 2.1.0 to 2.2.0 or wait for 2.3.0

[2020-07-10 03:03] MichaelBroughton opened #291 "Replace transformrangeconcurrently with ParallelFor"
Certain places in our codebase still use `TransformRangeConcurrently`. It would be good to get rid of this in favor of `ParallelFor` so that we can also get rid of `core/ops/tfq_simulate_utils.cc`

[2020-07-10 03:57] MichaelBroughton commented on #287
Fixed.

[2020-07-10 03:57] #287 closed

[2020-07-10 05:27] jaeyoo commented on #290
For 1, now TF is 2.3.0-rc1 and the 2.3.0 release will come out soon. Let's wait for it.

For 2, yes, we need to add internal build for nightly and release. Let's do it after 1?

[2020-07-10 05:34] MichaelBroughton commented on #290
Ok yes, we do have to do 2 after 1 since tf 2.1.0 isn’t available for python 3.8. Would you be interested in taking this on in a week or two ?

[2020-07-10 22:19] MichaelBroughton opened #292 "[Design] Add ability to reason about Circuit structure"
It would be a very useful feature to be able to reason about "Circuit structures". Supporting this feature would mean that we would roughly need to be able create an op to do the following:

[code]
My current thinking is that we do something like this:
have the following inputs:
[code]
Outputs:
[code]

What do people think ?

Going to leave open for discussion with @vprusso and others.

[2020-07-11 07:17] jaeyoo commented on #290
Please let me take 1 & 2. after July 29. I am busy until July 28. Thanks.

[2020-07-12 08:55] aburacze opened #296 "Memory allocation errors (Python 3.7 + Windows and Linux)"
Hi,

I wanted to try TFQ and I have encountered the following problem: when running even a very simple program involving TFQ (e.g. a sample copied from the Internet), it causes memory allocation errors in the standard C/C++ library. Python interpreter is aborted. A sample program I was using (copied from Issue #284 for example):

[code]

When run, I see the following output:

[code]

When I use gd

[2020-07-12 09:06] #261 closed

[2020-07-13 00:21] MichaelBroughton commented on #296
Thanks Adam for the detailed issue, from the GDB stack trace it looks like this might be an ABI issue between TFQ and the version of TensorFlow you have installed (since I can't find much about any TFQ logic in the trace). TensorFlow 2 doesn't have guaranteed ABI stability between versions so we unfortunately need all of our users to have 2.1.0 installed. Could you try downgrading to TensorFlow 2.

[2020-07-13 08:43] aburacze commented on #296
Thanks a lot! ABI incompatibility could indeed be the reason. I will install Tensorflow 2.1.0 and let you know.

[2020-07-13 12:35] jfold opened #298 "gradient registry has no entry for: TfqSimulateState"
Hi! I am trying to calculate and optimize a loss with TFQ, which corresponds to the negative log likelihood over some datapoints. The idea (https://www.nature.com/articles/s41534-019-0157-8.pdf) is to have a parameterized circuit producing a state, which via the Born rule gives a probability distribution that should approximate some data distribution.

I use `!pip install tensorflow==2.1.0` and `!

[2020-07-13 15:54] aburacze commented on #296
Hi,

I have checked that indeed downgrading Tensorflow to 2.1.0 (e.g. with `pip install -I tensorflow==2.1.0`) solves the problem. Thanks!

Best regards,
Adam

[2020-07-13 15:54] #296 closed

[2020-07-13 20:01] MichaelBroughton commented on #298
Thanks for the issue. Looks like the problem is that whenever you are differentiating this `get_loss` function TensorFlow is attempting to differentiate through a full state vector computation. This is something that is not currently supported in TFQ, we need people to make use of `expectation` or `sampled_expectation` if they want gradients to be able to flow backwards through those ops. Using th

[2020-07-13 22:15] zaqqwerty opened #299 "User-facing call to parameter shift differentiator"
Our use case involves using a Sample layer to obtain bitstrings, then computing a loss as a function of these bitstrings.  We wish to obtain gradients of the loss with respect to the parameters of the circuit given to the Sample layer; we want to use the Parameter Shift rule to calculate these gradients.  What would it take to break out the parameter shift code into a user-facing call?

We have ex

[2020-07-13 22:25] zaqqwerty commented on #299
@geoffroeder

[2020-07-14 13:43] jfold commented on #298
Thanks for this super quick answer, Michael! I will probably need to use `@tf.custom_gradient`.

[2020-07-14 13:43] #298 closed

[2020-07-15 21:07] we-taper opened #305 "Official docker container?"
A simple image based on Tensorflow's would be cool.

For example:

[code]

[2020-07-15 22:35] MichaelBroughton opened #306 "[Upgrade] Move sample op from depending on tfq_simulate_state"
In sticking with the theme of making TFQ better for less powerful machines, it would make a lot of sense if we could have  `tfq_simulate_samples` not depend on `tfq_simulate_state` for memory reasons. Having to store all the states in memory in order to sample isn't a behavior we want ideally for users where memory is a severe limitation. If we wrote the sampling op ourselves we would go down from

[2020-07-17 05:01] MichaelBroughton commented on #255
This is resolved. We opted to go with Our original method for circuits with < 25 qubits. With circuits with more than 25 qubits we opted for the new method.

[2020-07-17 05:01] #255 closed

[2020-07-20 03:40] MichaelBroughton commented on #306
Fixed by #311

[2020-07-20 03:40] #306 closed

[2020-07-20 19:26] zaqqwerty opened #315 "batch_sample, hence the Sample layer, does not accept all objects inheriting cirq.Sampler"
In particular `batch_sample` [here](https://github.com/tensorflow/quantum/blob/4739a390cd51d9d09bf3d376ff58f67b5991aeda/tensorflow_quantum/core/ops/batch_util.py#L575) accepts only `cirq.sim.density_matrix_simulator.DensityMatrixSimulator` or `cirq.sim.sparse_simulator.Simulator`

[2020-07-21 15:54] zaqqwerty commented on #183
Resolved by #311

[2020-07-21 15:54] #183 closed

[2020-07-21 16:03] zaqqwerty commented on #190
Seems resolved after the switch to open-source QSim expectations and the zero-setting [here](https://github.com/tensorflow/quantum/blob/4739a390cd51d9d09bf3d376ff58f67b5991aeda/tensorflow_quantum/core/ops/tfq_simulate_expectation_op.cc#L171)

[2020-07-21 16:03] #190 closed

[2020-07-21 23:37] we-taper opened #317 "Support controlled-Y gate"
Is it possible to support CY gate in TFQ natively? What would be required to implement this in TFQ?

Essentially it would be supporting a
`cirq.Y(cirq.GridQubit(6, 0)).controlled_by(cirq.GridQubit(0, 0))`

I am wonder this because CX and CZ are supported, and CY different from CX.CY only by a controlled-phase gate.

[2020-07-23 04:31] we-taper commented on #317
I realize CY can be achieved with CX conjugated by S.

[2020-07-23 04:31] #317 closed

[2020-07-24 20:10] m0tela01 opened #321 "Training: Passing tensors from tf to tfq using cirq to train"
Hello

Is there a way to pass a tensor in a form that is usable by cirq when it is passed from an upstream layer during training?

I have a tensor from a Dense layer. I want to run it through a custom layer and perform some tensor operations. This layer then outputs/returns a cirq circuit I designed.
We can remove the functions in the layer or the layer entirely to make the problem more clear.
Is

[2020-07-26 11:32] MichaelBroughton commented on #321
I'm having a hard time following exactly what's going on here. It looks like there might be several different issues at play. With regards to:

place = tf.compat.v1.placeholder(tf.float32, shape=(4,1))
placeholder = cirq.ry(place)(cirq.GridQubit(0,0))
placeholder ## -> cirq.ry(np.pi*<tf.Tensor 'truediv_25:0' shape=(4, 1) dtype=float32>).on(cirq.GridQubit(0, 0))
When it is embedded inside of a circ

[2020-07-27 14:44] m0tela01 commented on #321
If I understand correctly this is the example you are directing me to from Hello Many Worlds:
![image](https://user-images.githubusercontent.com/43968309/88500248-202bb200-cf96-11ea-9ed7-8aa25664ef13.png)

This is close to what I am trying to do.
I am trying to compose my circuits with the data I have similar to the example from the MNIST Classification example where the circuits are the represent

[2020-07-28 01:27] zaqqwerty commented on #224
Sounds good, seems like we won't be pursuing this.

[2020-07-28 01:27] #224 closed

[2020-07-28 17:55] babbush commented on #210
@MichaelBroughton - this feature would be extremely useful for many projects trying to use TFQ for quantum simulation, and thus I would encourage you to take another look at this issue. Often with quantum simulation the goal is going to be to extract interesting properties from something like a ground state, and we'd like to study that task independently of the method used to prepare the ground st

[2020-07-30 22:26] m0tela01 commented on #321
Any update on this? Is it feasible?

[2020-07-30 23:06] MichaelBroughton commented on #321
Sorry for the slow response (I'm on vacation).

I'm having a hard time following exactly what you want in your follow up question. When you say:

I'm pretty sure now you don't want something like this (Just in case this is what you want I've added code):

[code]

Where Dense layer `a` controls the learnable parameters that go into the circuit which **models** the quantum datapoint circuits coming

[2020-07-30 23:29] MichaelBroughton commented on #210
Hey Ryan - We can definitely look into this again, there would be a few technical hurdles to overcome in implementing things, but I'm optimistic in can be done one way or another :).  To help understand your use case a little more clearly, can I ask how are you coming up with these arbitrary states ? are the upstream workflows to getting these state vectors anything like:

1. Writing down your ope

[2020-07-31 01:38] babbush commented on #210
Thanks Michael. In our case we're getting the state vectors by doing something like diagonalizing an operator. In principle the operator we're diagonalizing can be expressed as a linear combination of Pauli strings, but that's not necessarily the most numerically efficient representation in which to diagonalize it (for instance, we are focusing on some chemistry examples and the most efficient thi

[2020-07-31 01:50] zphy commented on #210
For reference, the original use case I had been considering when opening this issue was passing in the solution of a ground state found by a separate DMRG routine. Similar to Ryan's use case, in principle TFQ could add that capability, but it seems like it would be take quite a bit of work to make it as efficient as other mature solvers

[2020-07-31 15:20] m0tela01 commented on #321
@MichaelBroughton Thank you for the response, hope your vacation is going well.

You are correct that the first bit of code is not what I am after. I believe it is the second set of code that is correct. I have tried to use `tfq.layers.Expectation` already but the way that you show it above at least appears to be what I want (will implement and let you know). In the meantime I have a question abou

[2020-07-31 19:02] zaqqwerty opened #324 "Sporadic CI errors"
Installing the requirement `tensorflow==2.1.0` sometimes fails with the error `THESE PACKAGES DO NOT MATCH THE HASHES FROM THE REQUIREMENTS FILE`, for example see the actions [here](https://github.com/tensorflow/quantum/runs/933060863?check_suite_focus=true) and [here](https://github.com/tensorflow/quantum/runs/923682631?check_suite_focus=true)

[2020-08-01 00:19] #184 closed

[2020-08-01 12:21] zohimchandani opened #325 "qGANs"
Any example code that uses TFQ and demos qGANs?

[2020-08-02 03:08] jaeyoo commented on #325
@YZNIU

[2020-08-02 03:15] jaeyoo commented on #324
https://github.com/tensorflow/tensorflow/issues/27794#issuecomment-666730336

As explained above, it seems not TF issue...

[2020-08-02 20:49] zaqqwerty commented on #186
See the discussion [here](https://github.com/tensorflow/quantum/pull/316#issuecomment-667722886)

[2020-08-02 20:56] zaqqwerty commented on #185
See the discussion [here](https://github.com/tensorflow/quantum/pull/316#issuecomment-667722886)

[2020-08-02 20:58] lamberta commented on #148
(just saw you reopened)
Take a look at this CI check to install the `tensorflow-docs` package and test with `nbfmt`: https://github.com/tensorflow/docs-l10n/blob/master/.github/workflows/ci.yaml#L11

To run it:

[code]

Recently submitted a GitHub Actions workflow to automatically add a format commit, but it needs a webhook to run the workflow with permissions: https://github.com/tensorflow/docs-l

[2020-08-02 22:06] we-taper opened #326 "Unitary layer simulation phase error"
It is strange to realize that `S[2] CX[1,2] S[2]` is not equivalent to `CY` in TFQ simulation.

Also, `S X S^dag != Y` in TFQ simulation. Although their difference in TFQ is a phase, maybe that is the cause for the problem above?

Example:
[code]

[2020-08-02 22:58] MichaelBroughton commented on #326
Would you mind rerunning this snippet and changing `get_unitary` to be:

[code]
And see if any of the outputs change ? This would indicate that TFQ does indeed behave differently from Cirq (which would be a big issue). I also have this vague memory of some Cirq gates having some interesting values of "default global phase" when working on parts of TFQ, which could maybe be the root cause here too

[2020-08-02 23:00] MichaelBroughton commented on #324
Hmmm seems like this could be a networking issue ?

Let's keep an eye on things and if it gets unbearable perhaps as a quick fix, we can drop the hash check on the downloads.

[2020-08-02 23:13] MichaelBroughton commented on #321
Glad I was able to help clear things up :)

You can pass whatever you want into tensorflow compute graphs as inputs. It's OK to pass associated classical information to go along with your quantum circuits. I would just be careful to not accidentally do all the learning on a classical only model that just learns to ignore the harder to learn quantum parts.

I would check out this: https://www.tenso

[2020-08-03 00:00] MichaelBroughton commented on #305
Interesting idea, It doesn't look like other TF addons like probability are using their own docker containers. @MarkDaoust or @yashk2810 what are your thoughts on this ?

[2020-08-03 01:12] yashk2810 commented on #305
Depends on how important it is. Why is a docker container needed though?

Note: Creating docker containers comes with a maintenance cost. So I would recommend going through all the positives and negatives of it and then deciding on what to do 😅

[2020-08-03 06:15] CoDeRgAnEsh commented on #281
Looks exactly the same for what I came here, I was try to do it in simulator. After I setup, the cavity-qubit is either getting null or TypeError...

So, After debugging long time, I realized [QC Simulator](http://www.senko-corp.co.jp/qcs/) has to be configured in order to TFQ to read the specific cubits during runtime.

Regarding, Noisy simulators I'm trying with simple [Noisy Q Simulator](https:

[2020-08-03 06:44] jaeyoo commented on #325
@zohimchandani Sorry, I confused with [QCNN](https://www.tensorflow.org/quantum/tutorials/qcnn). We don't have QGAN example yet.

[2020-08-03 06:52] oliverob commented on #325
Do you think this would be manageable for a newbie? If so, I would be happy to take it on. Also, is there any good reading you would recommend to get up to speed with QGAN?

[2020-08-03 06:57] jaeyoo commented on #325
@oliverob Thank you for your interest. Here is [TF-GAN](https://github.com/tensorflow/gan/tree/master/tensorflow_gan/examples) lightweight library for implementing GAN in TF and there are several materials about QGAN : [Lloyd et al.](https://journals.aps.org/prl/abstract/10.1103/PhysRevLett.121.040502), [Zoufal et al.](https://www.nature.com/articles/s41534-019-0223-2), [Hu et al.](https://advance

[2020-08-03 08:51] we-taper commented on #326
Sorryc I realize this silly mistake in my script: the quantum gates execute in the reverse direction of matrix multiplication.
The correction script (below) clearly shows that Cirq/TFQ simulations are correction.
[code]

[2020-08-03 08:51] #326 closed

[2020-08-03 09:08] we-taper commented on #305
Cool, it makes sense to save maintenance cost here. I don't think there is too much extra effort to create Docker file based on TensorFlow's.

[2020-08-03 09:08] #305 closed

[2020-08-03 13:50] MichaelBroughton opened #328 "[Feature] Add `expensive` argument to layers, differentiators"
With extremely large circuit simulation jobs / calls out to a QPU, too much parallelization can be a bad thing. For example: if we have 5 expectation ops in the graph, they might all have the possibility to run at the same time. If that is the case we multiply our memory overhead by 5. When we start dealing with 30+ qubit circuits, that could become a problem. Setting `expensive` (or something lik

[2020-08-04 22:17] zaqqwerty commented on #185
For further clarification of my questions under #188 , it seems that the goals listed can all be achieved without adding a global state:
1) I think the choice between parallel and serial execution should be with the cirq object doing the expectation values or sampling, and TFQ should be able to query these objects in a way that is agnostic the choice
2) Minimizing circuit depth is a circuit transf

[2020-08-04 22:29] MichaelBroughton commented on #185
I agree that all the things you have listed can be implemented without global state. Thinking more about this, the ultimate thing we need to have is a convenient way for users to lock down inter and intra op parallelism in order to not drown the engine service. Running on a true chip is a very serial thing and hitting a serial service with huge amounts of parallelism can (and has) led to big probl

[2020-08-05 09:50] xabomon opened #330 "Installing TFQ in a GPU cluster"
Dear TFQ team,

we are currently trying to set up tensor flow and tensor flow quantum to run in our small GPU cluster (featuring two nvidia Tesla P100 16GB).
We generally build modules using EasyBuild and then load them to perform the computation.

At this moment, the installation  completes without problems but we get runtime errors related to (missing) libraries.

An example of such error is the

[2020-08-05 15:04] m0tela01 commented on #321
It appears this is the correct solution but I have an error when implementing this.

**Error:**

<pre>
InvalidArgumentError: 2 root error(s) found.
  (0) Invalid argument:  Incompatible shapes: [1,16,8] vs. [1,16,47]
	 [[{{node PartitionedCall/map/while/body/_15/Add_1}}]]
  (1) Invalid argument:  Incompatible shapes: [1,16,8] vs. [1,16,47]
	 [[{{node PartitionedCall/map/while/body/_15/Add_1}}]]

[2020-08-05 16:17] zaqqwerty opened #331 "Specify repetitions circuitwise in Sample op"
When using the `Sample` layer or op, there are sometimes workflows where one desires different numbers of samples from each circuit in the batch.  Currently, I get around this by applying the `Sample` layer once per circuit, each called with the correct number of repetitions.  It would be easier and likely be more performant to allow `repetitions` to be a tensor of same shape as the input circuits

[2020-08-05 16:25] zaqqwerty commented on #254
Seeing that your error message is coming from `tensorflow_core`, I wonder what version of TF do you have installed?  TFQ currently requires `tensorflow==2.1.0`.

[2020-08-05 16:37] MichaelBroughton commented on #321
This seems to be a good old fashioned shape error now. Your snippet doesn't contain enough code for me to diagnose what is happening (where does `x` come from in `tf.keras.layers.Dense(4)(x)` ? ). I would recommend slowly building up your model, printing out the shapes as you go, keeping a very close eye on how ops change behave with certain shape inputs, so that you get the expected shapes. We ar

[2020-08-05 17:13] MichaelBroughton commented on #331
This is a tricky problem, you have to make a ragged tensor with a kind of nasty shape. In this case you would need to modify the sample op to produce a `[batch, num_qubits <ragged>, num_samples <ragged>]` both of which depend on values in input tensors. More annoyingly is that broadcasting rules also breakdown if things get really ragged in both dimensions, to the point where it might be hard to l

[2020-08-05 17:46] MichaelBroughton commented on #330
I don't have much familiarity with EasyBuild, would you mind walking through the detailed installation process you used (in terms of what commands are getting run and stuff like that) ?

Looking at the error you linked, I'm guessing that you are building TF 2.1.0 (which is good, since we require 2.1.0). One thing that might be a problem is that you are using GCC 8 which is not officially tested fo

[2020-08-05 19:25] MichaelBroughton opened #332 "[Docs] Prepare Engine best practices doc"
With all the information we have floating around with how to best use Engine + TFQ we might want to add a page like this: https://cirq.readthedocs.io/en/latest/google/best_practices.html

but for TFQ soon. Major points we need to make are:

1. Minimizing calls to the service where possible.
2. Controlling parallelism at op level with `tf.CriticalSection` or `tf.control_dependencies`
3. Controlling

[2020-08-05 21:16] m0tela01 commented on #321
@MichaelBroughton
I've closed the issue but was not sure if I should ask this question here or open another issue..

From above you can simplify the architecture so that `x=tf.keras.Input(shape=(4,))` and that would be all of the relevant code. What I believe the issue may be is the lack of some kind of **readout** parameter for `tfq.layers.Expecation` in order for the shape to output from either

[2020-08-05 21:25] mkaze commented on #324
See [this](https://github.com/actions/virtual-environments/issues/1354). It seems it's an underlying issue of Github Actions.

[2020-08-06 15:10] xabomon commented on #330
Hi @MichaelBroughton

Thank you very much for your quick response. Indeed, our issue came because of a mismatch between GCC versions. We managed to overcome this and now it is running correctly.

I will go ahead and close this issue.

[2020-08-06 15:10] #330 closed

[2020-08-06 16:20] m0tela01 commented on #321
@MichaelBroughton
I am reopening the issue because the solution seems to either have a bug or be incomplete (I am following exactly what you have provided above). I don't believe this is a separate issue related to shapes. It appears the learnable parameters in the expectation layer are not able to be learned?

***add_circuit was passed non-serializable keyword arguments***

**Error:**

<pre>
WARN

[2020-08-06 16:28] zaqqwerty commented on #321
This doesn't look like an issue with training, this looks like an issue with model saving (see the `get_config` call out at the end of the warning message.)  This is noted in issue #56 and #275

[2020-08-06 16:59] m0tela01 commented on #321
@zaqqwerty I was trying to use tensorboard's graph to find where my shapes may have an issue. This error is shown above the previous error when trying to train:

You are correct, this most recent snippet is related to saving. The real issue I am having is related to `learnable_gama`, `AddCircuit()` and the expectation layer. Tensorflow will not train this layer as per the example @MichaelBroughton

[2020-08-06 20:18] m0tela01 commented on #321
@MichaelBroughton  @zaqqwerty

I have created a dummy notebook replicating my error using the implementation for `tfq.layers.Expectation` provided in this issue and the MNIST notebook (simplified) provided in your TFQ tutorials.

Please take a look here:
https://colab.research.google.com/drive/12x1ELFr5OKdL5sHq8Wea3cre_FzHvpN8?usp=sharing

The dense layer before the expectation layer here can be c

[2020-08-06 21:18] MichaelBroughton commented on #321
Ok, turns out that the error was indeed a good old fashioned shape mismatch. I added a little snippet in the notebook to show where:

[code]
Output of the above is `(None, 34)` and `(8,12)` (or something). The 2nd dim's need to line up so that every free symbol has exactly one value to be placed inside of it.

Does this clear things up now ?

[2020-08-06 21:56] m0tela01 commented on #321
@MichaelBroughton
Did you change the units in the Dense layer to 30 like I mentioned?
I knew the shapes were wrong when I sent it to you, I wanted you to see both errors. The second dimension will be correct if you use 30 units in `dense_in`

I changed `dense_in` 30 units for you so that the shapes of the second dimension are correct. The model only trained for one epoch again.

Please take a look

[2020-08-06 22:25] MichaelBroughton commented on #321
Sorry if I wasn't clear in the first reply. You need to make sure the shapes line up in the 2nd dimension. On top of that you also need to make sure that you aren't using static sized shapes in your model. `(None, 34) != (4, 34)`, even if one sets `batch_size=4` this seeming equality should not be relied upon. The reason your code is not working is because you have something like 22 examples in yo

[2020-08-07 00:17] m0tela01 commented on #321
Thank you

[2020-08-07 00:17] #321 closed

[2020-08-07 12:32] frustea opened #334 "Feed Keras model with output of tfq.layers.Sample()"
I wonder how can I feed the Keras model with output=tfq.layers.Sample(). I got the following error. I also tried to convert ragged tensor to normal tensor, but I didn't work

[code]

---------------------------------------------------------------------------
`
AttributeError                            Traceback (most recent call last)
<ipython-input-25-4b8db0221ee2> in <module>()
     24
     25 m

[2020-08-07 16:42] MichaelBroughton commented on #334
How did you go about doing this ? it looks like the error you posted still has to do with the fact that you are operating on ragged tensors in the model and not dense. Did something like:

[code]

Not work ?

[2020-08-07 19:41] frustea commented on #334
I tried to make the output as a dense tensor, but I get another error. for example, by replacing the output with your's output_dense I get( which is similar to what I get)

`---------------------------------------------------------------------------
AttributeError                            Traceback (most recent call last)
<ipython-input-20-0aacdd20ea5e> in <module>()
      1 two_axis_control_mod

[2020-08-08 20:02] theRoughCode commented on #290
Any plans for TF 2.3.0 support? I need `tensor_scatter_nd_max` (https://www.tensorflow.org/api_docs/python/tf/tensor_scatter_nd_max) available then.

[2020-08-09 00:29] refraction-ray opened #335 "Possible deadlock with multiprocessing"
See code demo below
[code]

The above code will stall in `tfq_parallel_kernel` in the `t.gradient` step,  with the exact stall position at
[code]
i.e. the program has trouble with lock in multiprocessing where possible deadlock happens.

Some further aspects:

1. This bug is specifically related to tfq instead of tf, as plain `parallel_kernel` with only tensorflow works well.

2. This bug is relat

[2020-08-09 00:58] refraction-ray commented on #335
I have just read this: https://pythonspeed.com/articles/python-multiprocessing/ and https://github.com/pytorch/pytorch/issues/3492. I found the following workaround works, I will test further whether this works in my real project.

[code]

The changes are:
1. We use `` set_start_method("spawn")`` and the pool is invoked by ``with get_context("spawn").Pool() as pool`` instead of plain Pool backend

[2020-08-09 15:23] MichaelBroughton commented on #290
We are hoping to get upgraded to 2.3 in the nightly within a week or two.

[2020-08-10 18:27] MichaelBroughton opened #336 "[Performance] Boost tfq.convert_to_tensor speed"
Currently `tfq.convert_to_tensor` uses just one core and makes use of Cirq serialization protocols. They are pretty slow for large circuits. A quick benchmark shows that more than 95% of all time spent computing in `tfq.convert_to_tensor` is spent in the cirq serialization logic and the protobuf `SerializeToString` function. Since it's unlikely we can speed either of those up quickly, perhaps we s

[2020-08-10 18:33] MichaelBroughton commented on #334
This could be a bug. Would you mind posting what version of TFQ you are using, your OS and a full snippet that produces this error (imports and everything) ?

[2020-08-10 20:34] MichaelBroughton commented on #328
It might also make sense to have things be located lower level in the op getter functions. See: #337

[2020-08-11 11:22] zohimchandani opened #338 "Optimising functions with Openfermion"
I am working on some quantum generative adversarial networks code and have a discriminator which is a function of some parameters multiplied by some expectation value measurements. For example (see below the code) the variable parameters which I would like to optimise given a loss function are the disc_weights which are multiplied by openfermion commands which measure the X and Y expectation value

[2020-08-12 10:00] oliverob commented on #325
I have made a first stab at my example, but I can't get the network to actually work. I have linked it in the pull request - if anyone could give me any pointers that would be much appreciated!

[2020-08-12 12:55] jfold commented on #250
Are there any plans for incorporating this in the near future? :-)

[2020-08-12 21:37] jaeyoo commented on #325
Thank you @oliverob  for your contribution! Please let me look at it for the next week. 👍

[2020-08-13 08:26] amandalqy opened #341 "Does tensorflow quantum add support for simulation on single or multiple GPUs?"
Ｏnce I thought tensorflow quantum didn't  not support simulation on single or multiple GPUs. But recently I saw xabomon  said ＂we are trying to set up  tensorflow quantum to run in our small GPU cluster (featuring two nvidia Tesla P100 16GB). ＂in the "Installing TFQ in a GPU cluster " issue. So does tensorflow quantum add support for simulation on  single or multiple GPUs now?

[2020-08-13 08:30] amandalqy commented on #341
![tensor](https://user-images.githubusercontent.com/44419296/90112159-37361680-dd82-11ea-8725-40d279a33420.png)

[2020-08-13 14:35] zohimchandani commented on #325
@oliverob I cant see the code, could you please link the github page

[2020-08-13 14:48] jaeyoo commented on #325
@zohimchandani  https://github.com/tensorflow/quantum/pull/339

[2020-08-13 21:08] MichaelBroughton commented on #341
We still do not support quantum circuit simulation on GPU or TPU devices. I was under the impression that xabomon was going to use the GPU for strictly vanilla tensorflow things (which would still work with GPUs), sorry for the confusion.

[2020-08-13 21:08] #341 closed

[2020-08-13 21:33] MichaelBroughton commented on #338
Thanks, for raising this issue. Would you mind providing a code snippet to show what error or problem is happening ?

[2020-08-14 11:18] zohimchandani commented on #338
I have some qGANs code where the discriminator performs a bunch of Pauli expectation values from which a loss function is created.

The discriminator looks something like this:

`def discriminator(disc_weights):

    psi= (disc_weights[0] * QubitOperator('X0') +
           disc_weights[1] * QubitOperator('Y0') +
           disc_weights[2] * QubitOperator('Z0') +
           disc_weights[3] * QubitO

[2020-08-15 20:40] MichaelBroughton commented on #338
Ok, I think this enough information to get a handle on what is going wrong.

When you write an expression like this:

[code]

`psi_exp` will not be differentiable and neither will your `discriminator` function. If you want differentiability through this function, you will need to change the code to use the appropriate TFQ primitives.

Looking at your code it appears as though you want to have the

[2020-08-15 20:50] MichaelBroughton commented on #68
This has been resolved now with: #340

[2020-08-15 20:50] #68 closed

[2020-08-15 20:51] MichaelBroughton commented on #290
@theRoughCode Nightly builds should now depend on tf 2.3.0 (On Mac and Linux at least. The windows is upgrade is being...... difficult).

[2020-08-15 20:57] MichaelBroughton commented on #263
https://github.com/quantumlib/qsim/issues/164 has just been resolved. Now we are waiting for qsim to push a new release and we can proceed with the transfer. The end is in sight :)

[2020-08-15 21:04] theRoughCode commented on #290
Thanks for the update @MichaelBroughton! I'm using Google Colab, so I don't think Windows will be a problem! :)

[2020-08-15 21:11] MichaelBroughton commented on #256
Thanks @refraction-ray and @wangleiphy . I Did some more reading and spoke with @jaeyoo about this. Think we are almost ready to go ahead and try to implement this. Just wanted to confirm my understanding on something:

Suppose I have a `cirq.PauliSum` with `k` different `cirq.PauliString`s (terms) in it. **Who's overall matrix I cannot store in memory**

It is my understanding that if I have a ci

[2020-08-17 02:35] refraction-ray commented on #256
@MichaelBroughton , if my understanding is right, the setup is a loss function as the sum of k observables for the same circuit state output $\ket \psi_N$? If so, $\frac{\partial L}{\partial \psi_N} = \sum_i^k \frac{\partial \langle O_i\rangle}{\partial \psi_n}$, and such value can be stored with only the space of size $\psi_N$. If this is the case, the back propagation can be accomplished from gr

[2020-08-17 19:27] zaqqwerty opened #344 "Builds failing on calls to data store"
Error message:
```Exception: URL fetch failure on https://storage.googleapis.com/download.tensorflow.org/data/quantum/spin_systems/TFI_chain.zip : 403 -- Forbidden```

[2020-08-17 21:35] MichaelBroughton commented on #344
Should be fixed now. Just confirmed with: `wget https://storage.googleapis.com/download.tensorflow.org/data/quantum/spin_systems/TFI_chain.zip`

[2020-08-17 21:35] #344 closed

[2020-08-18 01:28] #315 closed

[2020-08-18 01:30] MichaelBroughton opened #348 "Consolidate and clean `cirq_ops.py` sampler logic."
Right now our sampler code for custom `cirq.Sampler` instances is not as clean as it could be. At some point we should make a more deliberate effort to clean this up.

[2020-08-19 02:16] zaqqwerty commented on #324
The issue [seems to be resolved](https://github.com/actions/virtual-environments/issues/1354).

[2020-08-19 02:16] #324 closed

[2020-08-19 14:09] zaqqwerty opened #350 "Builds failing on download of eigen"
[code]

[2020-08-19 22:48] zaqqwerty commented on #350
https://bitbucket.org/blog/sunsetting-mercurial-support-in-bitbucket

[2020-08-19 22:52] zaqqwerty commented on #350
https://gitlab.com/libeigen/eigen

[2020-08-20 15:07] zaqqwerty opened #353 "Add ability to extract qubits on which a circuit acts in-graph"

[2020-08-20 17:37] zaqqwerty opened #354 "Allow custom gate serialization"
Currently we hardcode the set of serializable gates in a global variable [here](https://github.com/tensorflow/quantum/blob/d9c14b24628cf34ebf6c52bce278ed02b4003ab0/tensorflow_quantum/core/serialize/serializer.py#L370)

[2020-08-20 17:59] MichaelBroughton commented on #354
This could wind up being a fairly large feature to undertake for adding into TFQ everywhere. I think roughly what would need to be done is:

1. Get support for custom gates of arbitrary size in OSS qsim.
2. Add support for gates of arbitrary size in TFQ (All we need to do here is add a rule for cirq.MatrixGate in the serializer that you linked)
3. Wire up support inside of our C++ ops.

That shoul

[2020-08-20 18:00] MichaelBroughton commented on #353
Would this be an operation that could be made fairly easily if we had: #292  in the code to work off of ?

[2020-08-20 19:03] zaqqwerty commented on #354
the main point is to add support for gates that qsim does not support, but that a custom sim passed in as `backend` might

[2020-08-20 19:06] zaqqwerty commented on #353
I think so.  One example use case is if I sample bitstrings from two different circuits and I want to compare the bitstrings on the subset of qubits the circuits have in common.  Ideally there would be some identifiers accessible in-graph, without deserializing the circuits.

[2020-08-20 20:14] #350 closed

[2020-08-20 23:38] MichaelBroughton opened #357 "Support for Projectors in Expectation Calculations"
Right now Cirq does not allow such things as:

[code]
One must manually write out the projection operators like:
[code]

Storing such a large paulisum can quickly grow to be prohibitive despite the matrix having just one entry in the end and the post-processing step being very simple to implement on a real device. It would be nice if we could have this feature put into Cirq and then relayed up and

[2020-08-20 23:53] MichaelBroughton commented on #354
Intersting, right now we support a lot (but not all) of the gates one could make in Cirq. Exceptions include: multi qubit control, `PhasedXZ` and `cirq.MatrixGate`. This support is provided with a `cirq.google.SerializableGateSet`. In the past it has been fairly easy to add gates to TFQ and I don't think adding support for any of these gates should really be that much more difficult. We would be b

[2020-08-21 04:35] #328 closed

[2020-08-23 16:54] dsantiago opened #359 "Best material to follow and learn?"
Hi guys i am reading the repo and the intro notebooks but  i do not have the baseline knowledge for Quantum Computing... Do you guys have any study flow to keep up with the rest of the contributors here?

Thanks in advance!

[2020-08-24 08:23] MichaelBroughton commented on #359
Of course! In my humble opinion, In order to be able to follow along and understand TFQ, I would recommend doing the following:

1. Do some reading. My first QC book was: http://mmrc.amss.cas.cn/tlb/201702/W020170224608149125645.pdf This was a great starter book because the math didn't overwhelm me and things were easy to digest if I read slowly and carefully (doing the exercises along the way hel

[2020-08-24 08:23] #359 closed

[2020-08-24 13:14] dsantiago commented on #359
Thank you so much Michael for the intuition on where to start...  This topic may help other newbies, maybe you can label it with "question".

[2020-08-24 22:54] MichaelBroughton opened #361 "Fix compiler warnings"
When compiling our C++ code we are starting to get a lot of (mostly) harmless warnings about comparison between unsigned and signed types etc. It would be nice if we could comb through these and make the tweaks to make them go away. This isn't an urgent issue, but it would be nice to clean up the clutter.

[2020-08-26 22:50] MichaelBroughton opened #364 "Consolidate _GLOBAL_OP_LOCK"
Right now `_GLOBAL_OP_LOCK` lives in `circuit_execution_ops.py`, but it does limit certain other ops from gaining access to it in appropriate way (like the unitary op for example). We should probably move this up into `quantum_context.py`

[2020-08-26 22:51] MichaelBroughton commented on #256
Oops, that was an initial misunderstanding of mine. Thank you for pointing it out @refraction-ray . We are now well on our way to finishing the adjoint differentiator :)

[2020-08-27 00:50] refraction-ray commented on #256
Very excited to see AD feature is about to be supported. I guess this might be the first quantum software supporting constant memory AD in python ecosystem (and even with a high performance cpp backend).

There are some features that are easy to add with such AD engine
1. Gradient support on wavefunction amplitude: currently wavefunction is not differentiable directly in tfq, but supporting this l

[2020-08-27 02:36] MichaelBroughton commented on #256
Very exciting! Once #365 gets in , the feature will be in `tfq-nightly` (which now depends on tf.2.3.0 and not 2.1.0). Regarding your other two points:

1. I like the idea of adding this. If the logic is fairly similar to this current adjoint method then it would be relatively low effort to add and would really let people do almost whatever they want with compute graphs. I guess I'm not as worried

[2020-08-27 05:21] jaeyoo commented on #256
@refraction-ray @MichaelBroughton , Recently I am working on the higher order gradients in TFQ. I've studied that topic for a while, but it was not at the high priority for launch. Parameter-shift Hessians are easy to add, but for general case like n-th order gradients requires many things to reduce the time complexity because it has lots of duplications. Well, if we support just finite differenci

[2020-08-27 05:37] #256 closed

[2020-08-27 14:41] MrSaral commented on #336
Hey Michael, I am new to tfq community and I would love to work on this issue!

[2020-08-27 18:02] MichaelBroughton commented on #336
Welcome! Glad you’ve taken an interest. I’m optimistic we can make things a little quicker :)

[2020-08-29 00:00] MrSaral commented on #336
@MichaelBroughton Where can I start, I went through the code in `tfq.conver_to_tensor`

[2020-08-29 15:27] zohimchandani opened #367 "Quantum Generative Adverserial Networks"
I am working with a short qGANs project where a shorter version of my code which doesn't include all the terms required to calculate the loss function compiles and runs. The code is here:

[code]

Now that I scale up the problem to output more values from the circuit and train more parameters and include more terms in the loss function, the code ceases to work. The extended code for which is here:

[2020-08-29 15:39] #367 closed

[2020-08-29 20:14] MichaelBroughton commented on #336
After you've read the code you could:

1. Fork the code and work on a local copy.
2. Time the original implementation and yours on some big reference circuits.
3. Make the new implementation faster.
4. Open a Pull request on here with the changes you've made showing the numbers behind the performance boost.

[2020-09-01 00:24] #199 closed

[2020-09-01 00:24] #64 closed

[2020-09-01 14:13] MrSaral commented on #336
Ok thanks, I will give this a shot

[2020-09-01 17:33] zaqqwerty commented on #66
We will soon pin to Bazel v3.1.0, we could check again if this is doable.  First point of entry: https://docs.bazel.build/versions/master/command-line-reference.html#coverage

[2020-09-01 17:33] zaqqwerty commented on #66
We will soon pin to Bazel v3.1.0, we could check again if this is doable. First point of entry: https://docs.bazel.build/versions/master/command-line-reference.html#coverage

[2020-09-01 17:45] FerjaniMY opened #368 "Cannot save keras quantum model"
I try to save the quantum model from this notebook https://www.tensorflow.org/quantum/tutorials/mnist
I used `model.save('./')`
I get this error:
[code]

[2020-09-01 18:18] MichaelBroughton commented on #368
This looks very similar to: https://stackoverflow.com/questions/60682091/cannot-save-tensorrflow-keras-quantum-model-using-save-pickle

Does this help ?

[2020-09-01 22:53] MichaelBroughton commented on #232
For reference the issues we currently have are:

`differentiators` show modules
`layers` show module
`util` shows module

[2020-09-02 16:32] FerjaniMY commented on #368
Yes it helps. Thanks !

[2020-09-02 17:19] #364 closed

[2020-09-02 17:20] #368 closed

[2020-09-02 18:53] MichaelBroughton opened #371 "Remove `get_circuit_symbols` in favor of cirq.parameter_names in 0.9"
Once 0.9 Cirq is integrated, we can move to depending on this: https://github.com/quantumlib/Cirq/pull/3273

[2020-09-03 02:38] zaqqwerty opened #373 "Reimplement stochastic differentiators with C++ and new interface"
There are a couple issues with the old SGD:

1. Too slow compared to the other differentiators
2. Interface is cluttered

To resolve these concerns, we need to split these differentiators into separate classes for each kind of stochasticity, and the ops need to be pushed into C++ implementations as was done for the parameter shift diff.  @jaeyoo see PR #372 .

[2020-09-09 13:17] SSSSSCV opened #377 "About the input of quantum neural network in tensorflow quantum"
I created a quantum neural network using tensorflow quantum，It's input is a tensor converted by circuit.About this input circuit，I found that if the parameters of the circuit are also specified by tensors, the quantum neural network cannot be trained.
**The circuit when using normal parameters can make the network train normally**
[code]
**But when I use the following code, the quantum neural netw

[2020-09-09 13:39] zaqqwerty commented on #377
Without seeing the code for `discriminator_network` we won't be able to diagnose the issue, could you post more?  I suspect the main issue is that, to use circuits converted to tensors, `discriminator_network` needs to be written in terms of the TensorFlow Quantum layers: https://www.tensorflow.org/quantum/api_docs/python/tfq/layers

[2020-09-09 13:59] SSSSSCV commented on #377
@zaqqwerty ，Thank your help.I added the code about the discriminator_network

[2020-09-10 16:43] #263 closed

[2020-09-11 19:53] MichaelBroughton opened #380 "[Discussion] Adding quantum math features"
Sometimes, it is useful to be able to analyze circuits in ways that aren't valid on a quantum computer, but might still be interesting for theory reasons. I came across this issue a little while ago when wanting to compute the overlap `<psi_1 | psi_2>` of a state and had a hard time keeping memory limits under control with larger batch and state sizes using `tfq.layers.State`. I ultimately ended u

[2020-09-11 22:34] jaeyoo commented on #380
[code]

[2020-09-14 04:08] njuwfang opened #381 "Convert a PQC layer (with trainned weights) to unitary"
With all the symbols' values, can I have a simple way to obtain a unitary from PQC layer?

Although, I can define a new function to replace symbols with corresponding values in circuit definition, I think it is inconvenient.

[2020-09-15 03:21] zaqqwerty opened #383 "Possible memory issue with sample op"
When repeatedly calling the sampling op on a large circuit, I find that the used system memory keeps jumping on each call.  For example, in the following script, the used system memory jumps by ~ 2 GB each time `sample_op` is called:
[code]
This used today-installed `tfq-nightly` and `tensorflow==2.3.0`.

[2020-09-15 05:41] MichaelBroughton commented on #381
You could make use of `tfq.calculate_uitary` or `cirq.unitary` functions once you are finished training with the PQC layer.

[2020-09-15 18:10] #383 closed

[2020-09-15 22:39] MichaelBroughton opened #386 "Investigate #679"
There are some references to old issues in the repo. In particular #679 seems to show up a lot and have something to do with handling empty Program protos in C++. Would be nice to investigate these and see if they can't be moved around / cleaned up.

[2020-09-17 19:44] MichaelBroughton commented on #290
Closing now since we have 3.8 on nightly and support will be in the next release.

[2020-09-18 01:46] #284 closed

[2020-09-18 07:11] karlunho commented on #280
@MichaelBroughton @zaqqwerty Given the feedback from Owen today, can one of you add some instructions on how to use the Cirq noisy simulator ? At some point, we will be adding noisy simulation in qsim, but that is going to be down the road.

[2020-09-18 07:13] karlunho opened #391 "New Feature : Classical Data Encoders into TFQ"
A common task for first time users of TFQ is to try and encode classical data into quantum circuits. It would be good if TFQ has some out-of-box encoders based on 1-2 methods found in the literature.

[2020-09-21 11:58] zaqqwerty opened #394 "Update research branch to tf 2.3.0"
Once a new tfq version is released and #343 is in, the research branch scripts should be re-tested and updated

[2020-09-21 16:24] we-taper commented on #255
Hi @MichaelBroughton, I am trying to test this behaviour by running 500 slightly different circuits (each has 6 qubits) in a batch. But it seems that only one thread is actively running. I have attached the test code below.

[code]
Test code:
[code]

[2020-09-21 20:01] MichaelBroughton commented on #255
Hmmm you are compiling a `@tf.function` with no input. Chances are the autographer is just compiling this down into a constant expression. I ran this on my end and changed a few things and definitely saw full use of all threads. Could you try running this version and see if you still only see one thread being active ?

[code]

[2020-09-21 20:18] we-taper commented on #255
Thanks @MichaelBroughton . I think now I understood it. The issue is actually in `tfq.convert_to_tensor(circuit_list)`, which takes up a significant chunk of the time, and the actual execution of circuit in `layer` is fast and makes use of all the threads. But because the long conversion time which uses only one thread, the later spike in multi-threads usage got unnoticed.

[2020-09-21 23:04] artix41 commented on #250
I'm also interested in this feature :)

You mean a depolarization(p) channel after every **moments**, right? @MichaelBroughton

[2020-09-24 17:59] therooler commented on #380
To add to my comments in the TFQ sync meeting about how useful a `tfq.math.fubini_study_metric` would be:

This is what I had to do in TensorFlow 1.x to calculate the Quantum Natural Gradient:
[code]
It resulted in a huge compute graph that was crazy slow and unstable since inverting eta can be ill-defined. However, for smaller systems this worked and sped up the optimization of a variational circ

[2020-09-27 02:49] tacho090 commented on #336
@MrSaral are you working on this issue? If so, please request to be assigned to it

[2020-09-27 03:25] MrSaral commented on #336
Hey @tacho090 , Yes I am working on this. Please assign it to me.

[2020-10-01 00:27] #275 closed

[2020-10-01 00:27] #186 closed

[2020-10-01 00:27] #230 closed

[2020-10-01 00:27] #148 closed

[2020-10-01 00:27] #66 closed

[2020-10-01 00:27] #62 closed

[2020-10-01 00:34] zaqqwerty commented on #232
Not resolved

[2020-10-05 23:33] zaqqwerty opened #402 "Change names to state_vector"
Following the Cirq convention established [here](https://github.com/quantumlib/Cirq/pull/3022), could be good to sweep around our codebase for instances of `wavefunction`, `wave_function`, `state`, etc. that can be changed to `state_vector`

[2020-10-06 17:54] #402 closed

[2020-10-07 11:27] pradeep-gali-by opened #407 "Error in Executing Tutorial"
I am running to following error while running barren_plateaus notebook. seeing something similar for mnist.

**Error Message**

---------------------------------------------------------------------------
InvalidArgumentError                      Traceback (most recent call last)
<ipython-input-9-1137eb21c3f2> in <module>
     13     ]
     14     op = cirq.Z(qubits[0]) * cirq.Z(qubits[1])
---> 15

[2020-10-07 15:53] MichaelBroughton commented on #407
Thanks for raising the issue. This looks like an incompatibility between TensorFlow's C++ ABI and our C++ ABI. I see in your error message that the path you are on is `/opt/miniconda3/envs/google-env/....`, Anaconda uses different source builds of TensorFlow that give a different C++ ABI than the official pip version of TensorFlow. We build against the pip version of TensorFlow and do not provide

[2020-10-07 15:58] MichaelBroughton commented on #380
Since our discussions we have had a number of people also request the fubini study metric to explore the natural gradient. Perhaps once we make the op we should also make a `NaturalGradient` differentiator ?

[2020-10-08 02:50] pradeep-gali-by commented on #407
Thanks @MichaelBroughton. You are right. I was using older version of Tensorflow. Uninstall and reinstall worked.

[2020-10-08 02:50] #407 closed

[2020-10-08 05:24] zaqqwerty commented on #394
Resolved by #408

[2020-10-08 05:24] #394 closed

[2020-10-09 21:01] sassan72 commented on #391
you mean TFQ doesn't have a method to encode classical data into quantum circuits?

[2020-10-09 21:59] zaqqwerty commented on #391
Embedding classical data into quantum circuits just means that the parameters of the circuit are controlled by the dataset.  We have an example of such an embedding using TFQ in our [MNIST tutorial](https://www.tensorflow.org/quantum/tutorials/mnist), definitely check that out if you're interested in classical data embedding :)

What we don't have is a standard library of techniques from which use

[2020-10-12 14:50] zaqqwerty opened #411 "StochasticCost as a feature of layers"
In the past, subsampling of PauliTerms from input PauliSums was taken care of by an option in the [SGDifferentiator module](https://github.com/tensorflow/quantum/blob/dd209265ea32d00fb9b38682b89b0556204b9ce0/tensorflow_quantum/python/differentiators/stochastic_differentiator.py#L38).  However, there were a few issues with its implementation there:

1. Instead of subsampling PauliTerms from PauliSu

[2020-10-12 22:46] jaeyoo commented on #411
@zaqqwerty I agree with that. The first target application was the SGDifferentiator, but StochasticCost or StochasticLoss itself is a standalone. Thank you for your research!

[2020-10-13 08:58] MichaelBroughton commented on #411
Perhaps there is a nice way we could work this in throughout the entire stack in TFQ. Maybe we can define an op flag for the op returned by `get_sampled_expectation_op` that has `bool: subsample_paulis=True/False` (https://www.tensorflow.org/guide/create_op#attrs) From there it would be simple to have the keras layers choose values for this based on user preferences. What do people think ?

[2020-10-14 07:49] Zhouquan-Wan commented on #335
According to https://github.com/pytorch/pytorch/issues/3492 you may also add `force=True` as `set_start_method('spawn', force=True)`.

[2020-10-15 17:43] we-taper opened #412 "Rotosolve failed in `disable_eager_execution`"
Rotosolve currently contains code that isn't supported in `disable_eager_execution` mode:

https://github.com/tensorflow/quantum/blob/f9a015a5664dce88ca99f6de85eaf5376ae0cf3a/tensorflow_quantum/python/optimizers/rotosolve_minimizer.py#L236

To reproduce:

[code]

Gives error message:
[code]

[2020-10-16 03:25] matibilkis commented on #250
Hello, I also consider this a relevant feature, and I understand that you are correct @artix41 .

I wonder if these layers, with the noisy backend, are meant to be used for training also. I'm finding them extremely slow and I wonder if anyone else has been doing similar stuff. As an example of what I mean:

### defining the model

[code]

(compile model, etc.)

### train the model:

[code]

Thanks

[2020-10-16 18:17] MichaelBroughton commented on #185
This has now been implemented. More properties and configurations to be added.

[2020-10-16 18:17] #185 closed

[2020-10-16 18:50] MichaelBroughton commented on #250
Looks like there is a substantial interest in adding support for these features. @matibilkis you're snippet is 100% correct and that is the intended way to use non standard simulators by specifying a `backend=...` argument. The problem is that non-standard backends don't go through fast C++ like our default simulator does. Perhaps it is time to invest some effort into making a fast C++ density mat

[2020-10-16 20:23] zaqqwerty commented on #250
I would add that placing errors in the gates randomly works quite well with the TFQ circuit batching feature.  If one has a channel represented as a probabilistic mixture over unitaries, then circuits can be sampled from this ensemble and run together in a single batch; averaging the outputs over the batch will yield an approximate application of the channel, and the number of samples can be tuned

[2020-10-18 00:05] DeepNeuron opened #413 "Pip3 can't find Tensorflow-Quantum"
Hello. When I run "pip3 install -U tensorflow-quantum" I get the following error (reproduced on a Windows and MAC OS device):

ERROR: Could not find a version that satisfies the requirement tensorflow-quantum (from versions: none)
ERROR: No matching distribution found for tensorflow-quantum

[2020-10-18 20:05] DeepNeuron commented on #413
I was able to resolve the issue by installing TFQ using the Windows-Linux Subsystem WSL2 for Windows 10.

[2020-10-18 20:05] #413 closed

[2020-10-19 21:57] MichaelBroughton commented on #412
This appears to be an issue with using the v1 api (which was around and deprecated before TFQ came out and likely a will not fix on our end). If you would like to disable running functions eagerly you can do something like:

[code]

Which still appears to work with this snippet.

[2020-10-20 21:42] jacksonwb opened #414 "View source on github link on TF API documentation page results in 404"
All 'View source on github' links on the official api documentation pages have a bad link.

On the following page:
https://www.tensorflow.org/quantum/api_docs/python/tfq

Button links to:
https://github.com/tensorflow/quantum/blob/v0.4.0/tensorflow_quantum/__init__.py

[2020-10-20 21:42] jacksonwb commented on #414
@zaqqwerty

[2020-10-20 23:52] MichaelBroughton commented on #414
Could you check to see that the problem is fixed now ? (We had mislabeled some of the releases)

[2020-10-20 23:55] jacksonwb commented on #414
Fixed! Thanks.

[2020-10-20 23:55] #414 closed

[2020-10-26 19:41] zaqqwerty opened #417 "Op append_circuit not showing up in docs"
The component `append_circuit` is available in the codebase but doesn't show up in the docsite.  I think this can be resolved by making a python function around the op as was done for `resolve_parameters` [here](https://github.com/tensorflow/quantum/blob/a2c02bad57a83cf0c149d322a691b184e31c413f/tensorflow_quantum/core/ops/tfq_utility_ops.py#L63).

[2020-10-26 20:20] zaqqwerty opened #418 "Add tests for padded_to_ragged2d"
It is a simple function, but currently `padded_to_ragged2d` isn't unit tested.

[2020-10-26 21:19] MichaelBroughton opened #420 "[Discussion] Gradient of state op"
It was pointed out in #256 by @refraction-ray that once we had implemented the adjoint differentiation scheme, it might be possible for us to make our `calculate_state` op differentiable as well. Though initially we felt that giving people too many powerful tools outside of what is actually possible on a true QC was not the best idea, I feel like since we are catering towards more expert users add

[2020-10-26 23:26] zaqqwerty commented on #420
Seems like a differentiable state simulator is something people want, if we don't do it in TFQ people might go elsewhere for it.  Having it under the TFQ umbrella, we can also ensure it will be performant enough.

[2020-10-27 01:18] refraction-ray commented on #420
I have no new inputs on the implementation since it seems to be the same as before in terms of adjoint differentiation.

A comment on the gauge redundancy/overall phase ambiguity of the wavefunction: one doesn't need to concern about such ambiguity when implementing AD; the point is, as long as the final objective is gauge invariant in terms of the overall phase of final quantum state (which shoul

[2020-10-28 00:28] #417 closed

[2020-10-28 16:46] ethankoch4 opened #421 "How can I contribute?"
Hi, I'd like to look at contributing to this project. Any issues I could take up as a newcomer?

[2020-10-29 05:18] lockwo commented on #391
I think this would be a good idea, even sort of simple techniques might be useful (e.g. basis encoding) especially for those coming from classical machine learning. There are a number of different techniques that exist in literature but offering some templates like Pennylane, [for example](https://pennylane.readthedocs.io/en/stable/introduction/templates.html) would be nice.

[2020-10-29 17:42] MichaelBroughton opened #422 "Add support for multi qubit controlled gates"
Once qsim has released a new github version that contains multi qubit controlled gate support we should look into supporting over here in TFQ. This will roughly entail:

~~1. Opening a PR to upgrade from qsim 0.3.1 -> 0.6.0~~
~~2. Adding serialization primitives to `serializer.py` for multi qubit gates and corresponding tests.~~
3. Hooking up new serialization primitives in underlying C++ and othe

[2020-10-29 18:24] #290 closed

[2020-10-29 18:25] #257 closed

[2020-10-29 18:25] MichaelBroughton commented on #257
This gate is in now.

[2020-10-29 18:41] MichaelBroughton commented on #421
Hey @ethankoch4 welcome! There's lots to do, I can give you a short list of issues/projects that are going on right now:

1. We are currently adding more math ops in here: #380 there are lots of unclaimed math ops that we would love to see placed in the codebase. This does require a fair amount of TF knowledge as well as quantum knowledge, but would be really big impact. Would also be great to add

[2020-10-29 18:48] ethankoch4 commented on #421
Thanks @MichaelBroughton ! I'm not super familiar with Quantum but I'm here because I want to learn. I'm a stats & ML guy, so hopefully the ramp-up won't be _too_ bad. I'll take a look through these to see what feel most naturally to jump in on first. 🙇‍♂️

[2020-10-30 05:43] jaeyoo opened #423 "serializer.py should use sympy.core.mul.Mul instead of sympy.mul.Mul"
This recent PR in sympy moved `sympy.add` and `sympy.mul` under `sympy.core`

https://github.com/sympy/sympy/commit/98fb163988b5ad8b72647b682efebd92c8f895c3

[2020-10-30 05:45] jaeyoo commented on #423
`sympy.numbers` -> `sympy.core.numbers`

[2020-10-30 19:39] MichaelBroughton commented on #423
We are currently pinned to sympy==1.5. When we do an upgrade to the latest version this will be good to know when things break :)

[2020-11-05 18:28] therooler opened #427 "Use tf.convert_to_tensor for symbol_values in differentiator docstrings"
**Python: 3.8
TFQ: 0.4.0**

I was trying to see what kind of speed up I would get from using `tfq.differentiators.Adjoint`. The [docstring example](https://www.tensorflow.org/quantum/api_docs/python/tfq/differentiators/Adjoint) runs fine, but when I add more parameters to the circuit, I get the following error message
[code]
Code to reproduce:
[code]

I am having some trouble trying to debug this.

[2020-11-05 19:01] zaqqwerty commented on #427
I reproduced this error with this code in colab.  I find that if I replace `['alpha', 'beta']` with `tf.constant(['alpha', 'beta'])`, the error goes away.  However I find that the original code snippet in the Adjoint Diff docstring does not have this same error.  We should get to the bottom of this, but for now making sure all op inputs are tensors seems to fix it

[2020-11-05 19:35] MichaelBroughton commented on #427
This was actually an undocumented backwards breaking change in regular TensorFlow ( I spoke with an engineer about this when we first upgraded from 2.1.0 to 2.3.1.). Normally it would be fine to pass a python list of strings in, but since the change we should recommend/encourage users to pass in constant tensors. You can see in here when we did the upgrade that we also needed this change internall

[2020-11-05 19:40] therooler commented on #427
Changing to tf.constant did the trick. Thanks.

[2020-11-10 08:50] MichaelBroughton commented on #380
Was also thinking this might be a good place to add MPS based simulation algorithms with new ops like:

[code]

[2020-11-11 13:30] calmacx opened #430 "Crash when trying to run tfq.layers"
Hi,

I'm trying to follow some tutorial examples and came across the same problem seen in #160.
I had followed the instructions to update modules (though that seemed to be a windows fix) but it still gives me the same problem.

### Mysetup
* OS ==  macOS Catalina 10.15.7
* python == 3.8.0
* tf == 2.3.1
* tfg == 0.5.0 (installed via pip tfq-nightly)
* cirq == 0.9.1

### Error
[code]

### Code I'm t

[2020-11-11 14:26] calmacx commented on #430
with the default backend, aka without `backend=cirq.Simulator()`, this will run

[2020-11-12 03:01] MichaelBroughton commented on #430
Hmmm looks like either the windows fix didn't translate well over to Mac or over the course of releases from `0.3.1 -> 0.5.0dev` we managed to re-introduce the problem somewhere. I'll take a look into this.

I will also mention that leaving `backend=None` is definitely the preferred method of use when doing simulations with TensorFlow Quantum. It is the fastest and most reliable going directly thr

[2020-11-12 03:10] MichaelBroughton commented on #250
Interesting, @zaqqwerty do you think would we be able to incorporate a good number of the channels provided here: https://github.com/quantumlib/Cirq/blob/master/cirq/ops/common_channels.py on existing qsim wavefunction simulators in both the analytical and sample based case by doubling the number of qubits ? Have you given this any thought ?

[2020-11-12 08:10] calmacx commented on #430
Thanks a lot @MichaelBroughton and thanks for the extra info on why this is even an option!

[2020-11-12 18:28] zaqqwerty commented on #250
Yes, I think we can use the pure state simulator in both cases with twice the qubits for all those channels.  I have a draft tutorial we can discuss which demonstrates how to do this with the existing TFQ infrastructure.

[2020-11-13 20:48] therooler opened #431 "Hessian calculation fails using tf.jacobian"
**Python: 3.8
TFQ: 0.4.0**
Hi,

I am trying to get some Hessians from the one of my parameterized quantum circuits. This trainstep works as intended:
[code]
Following [this example](https://www.tensorflow.org/guide/advanced_autodiff#hessian) in the TensorFlow 2 docs I was hoping I could get the Hessian with the following code:
[code]
But this throws the error:
[code]
From which I conclude that cal

[2020-11-14 03:10] QuantumVerd commented on #431
Hi Roeland, it's great to hear that your research is benefitting from TFQ!

As for the Hessians of circuits, it is likely that we will add a function to implement the parameter-shift-based Hessian (as in [e.g. this work by the Coles group ](https://arxiv.org/abs/2008.07454)). Really, this is just applying recursively the parameter shift gradient update rule twice. @zaqqwerty is working on such imp

[2020-11-18 16:45] mikeevmm opened #434 "Unformatted Error Message When Creating PQC"
## Environment

Using Linux Mint 20, python 3.8.5, and a virtual environment with `tensorflow-quantum==0.4.0`, `tensorflow==2.3.1`.

## Problem

Creating a new parameterized quantum circuit (`tfq.layers.PQC`) fails with raised `ValueError` and message:

[code]

with traceback (cleaned up to remove references to my setup):

[code]

## MWE

[code]

## Further Comments

1. [The `ValueError` message](

[2020-11-18 16:48] mikeevmm commented on #434
I forgot to check; this is already solved in nightly, so I'm closing this issue. Regardless, please consider point 3.

[2020-11-18 17:06] mikeevmm commented on #434
Additionally: calling `tfq.get_supported_gates()` errors out, the function is under `utils`, so the call should be `tfq.utils.get_supported_gates()`.

[2020-11-18 19:48] rdisipio opened #435 "Graph Network example"
Hi,

   it would be nice if you could add a notebook tutorial concerning graph networks. I'm thinking specifically about the quantum graph convolutional neural networks discussed in the paper [arXiv:1909.12264](https://arxiv.org/pdf/1909.12264.pdf), but anything simple enough to get started would be enough.

Cheers,
Riccardo

[2020-11-20 14:02] MichaelBroughton commented on #434
Hi @mikeevmm , thanks for raising the issue. You are using a gate that isn't supported by TFQ. Any Cirq gate that has been turned into a controlled gate with `.controlled_by` was never supported anywhere in TFQ. If you recalled using controlled Rz operations before, perhaps they were in the form of a `CZPowGate`, which is supported since it doesn't use `controlled_by` ?

Either way, it looks like

[2020-11-20 14:34] MichaelBroughton commented on #435
Hi @rdisipio ,

A minimal working example can already be found here (linked from both the TensorFlow Quantum arxiv paper and TensorFlow Quantum website): https://github.com/tensorflow/quantum/blob/research/qgrnn_ising/qgrnn_ising.ipynb . I will say that we don't pay as close attention to the `research` branch, so feel free to give it a try and if anything breaks we can address the breakage in this

[2020-11-20 15:36] #434 closed

[2020-11-20 15:42] hblxuor opened #439 "Capturing measurement results from repetitions in PQC or C-PQC layer"
I'm using TFQ to run QAOA simulations, mainly using the ControlledPQC layer to feed keras layer outputs to the QAOA circuit and training the whole thing. I'm using repetitions in ControlledPQC to get averaged outputs.  I'd like to monitor the individual measurement results in the repetition, in order to terminate the loop if any of the measured states is the solution state. I see that tf.Sample re

[2020-11-20 19:40] MichaelBroughton commented on #439
Hi @hblxuor good question!

`ControlledPQC` is designed to be a more high level layer and as such won't provide access to the samples used. If you would like to examine samples from a circuit while simultaneously optimizing the circuit you will have to move away from these higher level layers to the `tfq.layers.SampledExpectation` and `tfq.layers.Sample`. In particular you will likely need to have

[2020-11-20 19:53] hblxuor commented on #439
It does- thank you!

[2020-11-20 19:53] #439 closed

[2020-11-20 22:14] Raghvender1205 opened #440 "AttributeError: module 'tensorflow_quantum' has no attribute 'resolve_parameters'"
I was following up with the Quantum Data notebook on Tensorflow Quantum.
During
def prepare_pqk_circuits(qubits, classical_source, n_trotter=10):
in the last i returned
 return tfq.resolve_parameters(
      full_circuits, tf.convert_to_tensor([str(x) for x in symbols]),
      tf.convert_to_tensor(classical_source*(n_qubits/3)/n_trotter))
but when testing and preparing data encoding around the data

[2020-11-20 22:15] Raghvender1205 commented on #440
Anyone who would like to help me on this.

[2020-11-21 07:16] MichaelBroughton commented on #440
Hi @Raghvender1205 . I wasn't able to reproduce this issue in cloud. I ran the tutorial by clicking on the "Run in Google Colab" button here https://www.tensorflow.org/quantum/tutorials/quantum_data and it ran all the way through just fine. If you are running on your local machine, could you first make sure you are running TensorFlow 2.3.1 as well as TensorFlow Quantum 0.4.0 to see if that fixes t

[2020-11-21 09:33] Raghvender1205 commented on #440
Ok

On Sat, 21 Nov, 2020, 12:47 pm MichaelBroughton, <notifications@github.com>
wrote:

[2020-11-27 14:38] AlkaidCheng opened #442 "Overflow error when simulating large circuits"
Platform: GCP N2 CPU, 48 vCPUs, 384 GB memory
Package Versions:
tensorflow == 2.3.1
tensorflow_quantum == 0.4.0
cirq == 0.9.1

Issue:
When using tensorflow quantum state layer for final state simulation, if the resulting size of the final state arrays exceed 2**31 there will be an overflow error.

The error message is:

[code]
The above code runs when n_circuits = 2^11 - 1
For simulating the final

[2020-11-29 15:35] MichaelBroughton commented on #442
Hi @AlkaidCheng , thanks for raising this issue.

This is caused by TensorFlow's underlying C++ Tensor classes using 32 bit integers for their size. You can see here in this snippet:

[code]

This isn't something that we intend to fix and I would suggest that you try and decrease your batch size (`n_circuits`) and use multiple calls to the `state_layer` to keep intermediate sizes down. More concre

[2020-11-29 15:40] #442 closed

[2020-11-29 15:47] MichaelBroughton commented on #440
Any updates on this ?

[2020-11-29 15:47] MichaelBroughton commented on #435
Any updates on this ?

[2020-11-29 20:57] Raghvender1205 commented on #180
I implemented all these, but still error occurs.

[2020-11-29 20:58] Raghvender1205 commented on #440
I am not able to execute the code on jupyter due to
Lib\site-packages\tensorflow_quantum\core\ops\_tfq_simulate_ops.so not found
error, but it showed no error with Google Cloud

[2020-12-01 02:29] hpssjellis opened #443 "We need more Quantum Keras layers small model examples Please"
I am a die hard Tensorflow fan (I have spent years on both TensorflowJS and TensorflowMicro) but I have had to go to [PennyLaneAI](https://pennylane.ai/qml/demos/tutorial_qnn_module_tf.html) to find good simple Keras layers examples that abstract away the Quantum Math when training reasonably easy Keras Layer Models. Could TFQ provide a few more examples in this area. Preferably 1-3 input nodes an

[2020-12-01 02:33] yqwangncu opened #444 "How to train the PQC to output a specified quantum state use TFQ?"
Dear everyone， If I want the PQC to output a specified state, such as: (|0000>+|0011>+|0101>+|1010>+|1100>+|1111>)1/square(6)
![image](https://user-images.githubusercontent.com/40755831/100689366-4be4fb80-33bf-11eb-8d67-a57f1ea7e680.png)
How to design the observable, and how to optimize and train the  PQC in TFQ?
In theory, there are two methods. The first is to define the measurement operator acc

[2020-12-01 18:26] MichaelBroughton commented on #444
Hi @yqwangncu thanks for raising this issue, this question seems like it would be more useful if asked on stackoverflow. Generally we like to keep GitHub issues reserved for feature requests and bugs. I can answer it now, but going forward maybe try to use stackoverflow and get help from the larger community :)

In order to define a specific measurement operater you can make use of the `cirq.Pauli

[2020-12-01 18:26] #444 closed

[2020-12-01 18:42] MichaelBroughton commented on #443
Hi @hpssjellis thanks for raising this issue. Can you help me understand what you are getting at with your Keras comment, are you looking for more examples for how to write your own Keras layers ? How to use the Keras layers we provide ? Or how the math works inside of our layers ?

On a related note have you had a chance to look at other tutorials that also contain lots of Keras layer usage (many

[2020-12-01 20:22] hpssjellis commented on #443
Hi @MichaelBroughton thanks for the reply. I don't think any of the examples are close to what I want. Possibly what I am asking for cannot be done, but here goes:

Can you use a Quantum Computer to train a single generic hidden dense layer of a standard 3 layer Keras Model where the inputs are float32 and the outputs are float32 ?

Lets say 2 node inputs, 6 node hidden layer, 1 node output with s

[2020-12-02 17:07] MichaelBroughton commented on #443
Ahhhh ok, now I think I'm starting to understand a little better thanks for clarifying things for me.

So the short answer is no. The longer answer is "you could try this with a fair amount of effort, but it won't give the kind of boosts you're hoping for". The kinds of ideas we had in https://arxiv.org/abs/1806.09729 where you could use a quantum computer for a sort of 1:1 analog of Dense layers

[2020-12-02 18:30] ghellstern commented on #443
Dear all,

few month ago I stumbled upon a similiar issue and with the help of Michael it finally worked, See issue
PQC in the middle of network, contd. #267.

As a result I built a notebook for my students to demonstrate this kind of hybrid network. If it is interesting for the community I can share it of course....

[2020-12-02 19:37] hpssjellis commented on #443
One clarification, I am not looking for faster/slower, better/worse results, just proof that Quantum Computers can train regular Keras dense layers (If possible). My goal is to then put those results on other tensorflow models as a proof of interchangeability.

Please share your notebook @ghellstern I put the last code I found from [#267](https://github.com/tensorflow/quantum/issues/267)  on my gi

[2020-12-02 20:13] MichaelBroughton commented on #443
Thanks for chiming in @ghellstern !!

@hpssjellis :

If you want the quantum computer to take care of the *entire training* portion then neither the example you linked from PennyLane or the snippet I just provided accomplish that, so it wont be possible. Algorithms like this one: https://arxiv.org/abs/1806.09729 that do all of the training on the quantum computer like you want simply aren't viable

[2020-12-03 15:54] ghellstern commented on #443
@hpssjellis:
I added the notebook I mentioned to github:
https://github.com/ghellstern/QuantumNN/blob/master/Multi-QBit-Classifier%20TF%20NN-Encoding_Github.ipynb
Presumably it's not the moste elegant to build a hybrid network; but at least a proof of concept. It would be great to have a discussion about possible improvements ....

@MichaelBroughton:
By the way - in the last month I tried differen

[2020-12-03 16:46] hpssjellis commented on #443
@ghellstern " in the last month I tried different methods to connect tensorflow with Qiskit" That really should be it's own thread. I agree, testing Quantum computing on a simulator is nice but when [https://www.ibm.com/quantum-computing](https://www.ibm.com/quantum-computing)   has made things so easy, it is a shame that we can't easily connect to it. The other option is that somehow Google makes

[2020-12-03 17:29] #435 closed

[2020-12-03 17:32] MichaelBroughton commented on #440
This is still not enough information to begin to try and diagnose the problem. Can you take a look at issues like this one: #407 and include the full output logs, what particular section caused the error as well as what OS + versions of python, tfq etc. you are working with.

[2020-12-03 17:36] Raghvender1205 commented on #440
Sure, I will do that.

On Thu, 3 Dec, 2020, 11:02 pm MichaelBroughton, <notifications@github.com>
wrote:

[2020-12-04 10:17] timchen007 commented on #180
I have one issue when import tensorflow_quantum as tfq the  error message as below:
tensorflow.python.framework.errors_impl.NotFoundError: /usr/lib/python3/dist-
packages/tensorflow_quantum/core/ops/_tfq_simulate_ops.so: undefined symbol: _ZN10tensorflow8OpKernel11TraceStringEPNS_15OpKernelContextEb

My platform is pi4B and I have built tensorflow_quamtum source successful

[2020-12-04 20:44] MichaelBroughton commented on #180
This looks like an issue with ABI mismatch like the one encountered in #330. If you are sure that you have all the right versions for the latest TFQ (TF 2.3.1 , TFQ 04.0 (or 0.5.0dev), cirq 0.9.1) and have built from source with the correct flags (`-D_GLIBCXX_USE_CXX11_ABI=0`) then it may just come down to a discrepancy between the pi4B and whatever OS it is running.

As a final note: I will say a

[2020-12-04 21:36] hpssjellis commented on #443
Thanks @MichaelBroughton for explaining the issue with training a Keras layer, I was getting a bit discouraged, but feel much better, now knowing that it is the size of a float32 that is causing the problem. In TensorflowMicro we are always looking at int8 quantization to reduce the size of our models, Is it possible that an int8 trained layer could work on a present Quantum Computer?

Since I am

[2020-12-05 04:54] timchen007 commented on #180
Thanks so much! Yes, I have built from source with (-D_GLIBCXX_USE_CXX11_ABI=0) as below:
bazel build -c opt --cxxopt="-O3" --cxxopt="-mtune=cortex-a72" --cxxopt="-D_GLIBCXX_USE_CXX11_ABI=0" release:build_pip_package
It seems GCC version issue? or genrule issue? I have set BUILD as below:
genrule(
         name = "libtensorflow_framework.so"
        outs = [
                 'libtensorflow_framewo

[2020-12-07 16:20] phyjoon commented on #431
Hi, I also want to compute the Hessian of parameterized circuits using TFQ. Does anyone have a workaround solution? Thanks!

[2020-12-08 23:33] therooler commented on #277
I just had an idea about a potential data set that we could easily implement.

Right now, what I have done with the spin_system module is to add data sets for which we know the variational circuit + parameters that gives us the ground state. The reason I haven't added any more for a while is because we are having trouble with reliably solving the ground state problem with a single circuit architec

[2020-12-10 03:51] MichaelBroughton commented on #443
I'm not entirely sure if you are still referring to doing the full training algorithm on a quantum computer or are now referring now to something more like just inference. In either case the answer is still no. In the case of the full training algorithm it's totally out of reach for today's hardware, in the case of inference it is also still pretty out of reach, but maybe a little less so because

[2020-12-10 04:18] hpssjellis commented on #443
LOL. I really do appreciate the extensive explanation. We can close this issue.

I learn from good code examples so more examples are always better, but as you have so clearly pointed out, todays quantum computers are a long way off from having enough qubits to do, what I want to be able to do with them.

Once again @MichaelBroughton thank you so much for spending the time to answer my question.

[2020-12-10 04:18] #443 closed

[2020-12-15 11:08] rafalpotempa opened #449 "Kernel freeze at tf.keras.Sequential.fit()"
### What I did?

Link to Colab: https://colab.research.google.com/drive/1g6BFapSuG0-WCQzxlrDsPKCcmaGemB9f?usp=sharing

I created a custom layer with quantum circuit in `quantum_circuit()` to represent 8x8 image - 4 readout qubits with two H gates, connected to 16 qubits by ZZ**(param) gates for each of 4 readouts. (8x8 extension of what can be found in [MNIST Classification example](https://www.te

[2020-12-15 11:28] rafalpotempa commented on #449
There is really a lot going on in the code. Do you have any ideas where I could place my breakpoints and focus? Is there any easier way to trace the source of this bug?

[2020-12-15 19:23] krubot opened #450 "Outputting the quantum circuit from PQC"
Not sure if my understanding is correct here, but I've been going through the following exercise:

https://www.tensorflow.org/quantum/tutorials/mnist

And I've generated the following `model` with the following lines:

[code]

Great! And I can see I can even run a predict here which is even better:

[code]

Now if I look at this models layer I can see it contains a `tensorflow_quantum.python.layer

[2020-12-16 22:03] MichaelBroughton commented on #449
I've just sent a request (using my @google.com email). Will be able to look more closely into things once you can share the notebook with me. I will be sure to not share any details of the code here and just focus on the bug itself.

[2020-12-16 22:14] rafalpotempa commented on #449
Thanks for the interest!

I've just given you the editor permissions. If you have any questions or concerns fell free to ask.

[2020-12-16 22:25] MichaelBroughton commented on #450
Hi @krubot thanks for raising the issue and for going through the documentation! Since TensorFlow Quantum converts a lot of
 values to `tf.Tensor` format it does take just a little bit of work to pull these sorts of quantities out. Here's a quick snippet:

[code]
I've turned the original PQC layer into a named variable called `pqc_layer`. Now at any point I can pull out a `cirq.ParamResolver` (htt

[2020-12-16 22:34] MichaelBroughton commented on #449
No problem. So at first glance I think you've solved your own problem in your comment on the side there.

The `compressed_image_size` is too big with a value of 8. Quick review on quantum circuit simulation:

Simulating `n` qubits takes `2^n` memory. So looking at your code:

`compressed_image_size=8` => `compressed_image_shape = (8,8)`

Then in the line: `qubits = cirq.GridQubit.rect(*compressed_

[2020-12-16 22:45] MichaelBroughton commented on #277
I think this would be very useful to have! It might be worth writing a little design doc / RFC for how you envision this feature would fit into TFQ. My knee jerk reaction would be maybe these would be some kind of "less structured" class of datasets since we don't provide the user with as much information. It would be good to put this in writing and plan out some different possible implementations

[2020-12-17 07:53] rafalpotempa commented on #449
Yeah. This totally explains the behaviour. This was the first thing that came to my mind, but I couldn't find any errors related to hardware, so I assumed everything was correct.

Nevertheless some message would be really helpful there :)

Thanks!

[2020-12-19 11:39] #450 closed

[2020-12-22 02:43] therooler commented on #277
I'll try to write something up. I am thinking something along the line of how it's done in OpenFermion:
https://quantumai.google/reference/python/openfermion/hamiltonians

[2020-12-24 03:26] nishant34 commented on #250
Is there some way we can use a customised noisy_device model with tensorflow_quantum like how to add a depolarizing channel after every gate. It gives serialisation errors.

[2021-01-05 00:17] mikeevmm commented on #56
Would like to +1 this, and ask that it is made clear(er) in the documentation that although `save` won't work, `save_weights` will.

This is because the error given when calling `save` doesn't indicate that this is the problem; in my case, I got

[code]

Only when explicitly calling the model's `get_config()` method did I get

[code]

[2021-01-14 02:42] MichaelBroughton opened #460 "Upgrade to tf 2.4.0"
Now that 2.4.0 (#456) is out it's time to upgrade! This will involve updating our various build scripts and bazel workspace files and fixing any bugs that come up.

[2021-01-22 22:06] MichaelBroughton opened #465 "Fix CI upgrading to TF 2.4.1"
It looks like in #459 we accidentally introduced an a step in the CI that upgrades us to TF 2.4.1 instead of sticking with what we had installed in the requirements.txt file. We might want to make sure the versions stay aligned (it doesn't appear to be breaking anything now, but does make me a little uneasy).
![image](https://user-images.githubusercontent.com/2791105/105553819-fc35f880-5cba-11eb-9

[2021-01-27 07:44] #422 closed

[2021-01-28 19:25] MichaelBroughton commented on #434
@mikeevmm if you are still interested we have just closed #422 which adds support for `controlled_by` on all of our gates, so the above snippet should now work on `tfq-nightly`.

[2021-01-30 16:56] daxfohl commented on #292
Is this something a first timer could work on or does it require a deep understanding? (I have a few PRs on cirq, but no further background in QC or TF, though a bit of compiler experience which may or may not be relevant).

[2021-01-31 17:21] Yueh-H opened #466 "import tensorflow_quantum as tfq problem tensorflow_quantum\core\ops\_tfq_simulate_ops.so not found"

[2021-02-01 16:49] #466 closed

[2021-02-01 22:35] gatorwatt opened #467 "Hello Many Worlds z0"
This is a small thing and not positive it is in error, I was a little confused in hello many worlds tutorial seeing the z0 cirq object in the check_error(.) function definition, partly because it was defined in part 1 of the notebook and everything else in part 2 appeared to be defined from scratch. So yeah just thought would share.

[2021-02-02 06:18] MichaelBroughton commented on #292
This would take a bit of know-how in making new TF ops. You would also need to understand how Cirq circuit serialization works pretty well in order to design an op that can go from a circuit to a meaningful structure tensor and back again. This issue has been open for a little while now so if you're interested in trying you're hand at it feel free.

[2021-02-02 14:43] luuk-visser opened #468 "Data reuploading using PQC layer(s)"
I'm trying extend my parametrized quantum circuit to use data re-uploading, as proposed by [Pérez-Salinas et  al.](https://arxiv.org/pdf/1907.02085.pdf)

Currently, my model exists of a single Input layer and a single PQC layer. I would like to split my single PQC layer into multiple layers such that the data uploading layers can be inserted in between the PQC layers. As tfq.layers.PQC requires a

[2021-02-02 20:13] ghellstern commented on #468
Hi Luuk,

I struggled with the same Problem; have a look at issue

#267 PQC in the middle of network, contd.

There a soltution is presented which helps to implement the data reuploading approach... If you are interested to discuss further just tell me.

All the best
Gerhard

[2021-02-03 16:21] luuk-visser commented on #468
Hi Gerhard, thank you for your suggestion!

The problem I'm currently having is that I'm trying to insert Input layers (to input encoding circuits) in between parametrized quantum layers. Based on the solution to #267, I created a small example of what I'm trying to achieve:

[code]

However, this gives me the following error:
[code]

Even if this solution were to work, it rebuilds the entire circ

[2021-02-03 22:40] MichaelBroughton commented on #467
Hi @gatorwatt thanks for posting. Looking over the tutorial it seems that redefinition of z0 might have been intentional. Do you have any suggestions on how we ought to change things to make it better ?

[2021-02-03 23:40] gatorwatt commented on #467
Sorry am sure this is very trivial, I think my confusion stemmed from expectation that since q0 was part of the z0 definition that z0 must be tied to the original circuit from part 1. I'm interpreting your response to be indication that I misinterpreted and that z0 can be re-applied as measurement basis for other state vectors passed through expectation_from_state_vector, which at least was inform

[2021-02-04 03:30] gatorwatt commented on #467
(Or a simpler improvement could be to just redefine z0 or something equivalent in part 2 using the qubit from the circuit in part 2 instead of q0 for clarity.)

[2021-02-04 18:47] ghellstern commented on #468
Hi Luuk,
I'm a little bit confused about your code - putting everything together in one class is maybe possible but at least for me too complicated :-(
See below the code which implements data-reuploading in a 1-dim toy example. Extending it to more qubits and higher dimensional data is straightforward. The only trick needed is the splitting layer. I worked out an example which uses data reuploadi

[2021-02-04 19:29] luuk-visser commented on #468
Hi Gerhard, after trying to get this to work for a long time I just realized I might as well use instances of the entire circuit (including parametrized layers) as input for the model. My problem was the fact that I wanted to represent only the data-encoding part of the circuit as input to the model, which I guess would be more elegant but I'm already happy to finally have my code running now. Tha

[2021-02-04 19:29] #468 closed

[2021-02-05 03:37] MichaelBroughton commented on #467
Got a fix open here #471 .

[2021-02-05 07:34] #467 closed

[2021-02-07 03:19] daxfohl commented on #292
It looks like there's already a `from_tensor` operation that gives you the entire original circuit. So now I'm confused what's needed here. Is it that that operation doesn't work well, or that it's too slow for extracting basic information, or something else?

[2021-02-07 06:33] jaeyoo opened #475 "Fix warnings of c++ compilation"
There are several common warning messages of c++ compilation

1. unused variables

In this case, let's use `std::ignore`. For example, we can use:

[code]

2. signed comparison

Let's define the type of iteration variable in the for-loop specifically. For example,

[code]

[2021-02-07 09:55] jaeyoo commented on #465
[code]

[2021-02-07 19:41] daxfohl commented on #292
Also need to consider how this works with subcircuits.

[2021-02-07 22:54] MichaelBroughton commented on #292
What we want is some kind of op like [this](https://github.com/tensorflow/quantum/blob/master/tensorflow_quantum/core/ops/tfq_circuit_append_op.cc) one that lets us do:
[code]
So in this snippet we want the ability to go from a serialized `cirq.Circuit` that lives in a `tf.Tensor` to a bunch of numbers in a different `tf.Tensor` that uniquely represent that circuit (and be able to go back again).

[2021-02-08 02:00] daxfohl commented on #292
Yes, it clears up why `from_tensor` isn't an answer. So now I'm trying to understand exactly what needs to go into the structure grid and why we want this. Let me try to offer my best interpretation from some playing around and looking at the code and see if it's anywhere close. I'll number my assumptions so we can talk about them individually.

1. It looks like when you call `convert_to_tensor` w

[2021-02-08 03:40] MichaelBroughton commented on #292
Right, those are all good assumptions. What we want ultimately is to have an op that would support the workflows used in places like: https://arxiv.org/pdf/2005.10811.pdf ( see figure 2 ).

Probably the latter. I imagine somewhere the user will have to specify what values they want specific gates to be converted into so they can have some idea of what is in the tensor the op spits out.

We probabl

[2021-02-08 13:51] daxfohl commented on #292
My initial thought is we'd want to hard code the gate alphabet into an enum so it's consistent. User doesn't have to maintain a mapping. The tensor can be serialized and shared without also having to share a mapping. Multi-qubits gates can be accounted for by different enums. So `enum gates { NONE=0, X=1, CNOT_CONTROL=2, CNOT_TARGET=3 }` etc., and arrange it such that a global bitmask lets you ide

[2021-02-11 01:22] gatorwatt opened #479 "small improvement to quantum data tutorial"
#In quantum data tutorial
#Under philosophy that less code is better code, in opening MNIST loading
#could strike use of np.newaxis
#replace this line
#x_train, x_test = x_train[..., np.newaxis]/255.0, x_test[..., np.newaxis]/255.0
#with
#x_train, x_test = x_train[...]/255.0, x_test[...]/255.0
#and just replace  plt.imshow(x_train[0, :, :, 0])
#with plt.imshow(x_train[0, :, :])
#(the tf.reshape re

[2021-02-11 18:53] we-taper opened #480 "Multi-qubit X gate promoted to TOFFOLI gate and could not be serialized by TFQ."
When a multi-qubit X gate is created by the `.controlled` method, it maybe automatically promoted to `cirq.TOFFOLI` gate which isn't supported by TFQ.

Minimal example:
[code]

Currently, the work-around is to use `cirq.ControlledGate(sub_gate=cirq.X, num_controls=3).on(*qbs)` instead.
Similar problem happen to `cirq.Z` as well, which is promoted to `cirq.CCZ`.
Luckily, `cirq.Y` works because `cir

[2021-02-18 05:37] MichaelBroughton commented on #250
Good news! We have found time to move forward on implementing noisy versions of our existing TFQ ops in a new `tfq.noise` module. This is mostly because our backend "qsim" has introduced support for noise simulation (so we no longer have to think about the best way to do it on our end). Here's a rough breakdown of how we plan to implement things:

1. Implement serialization support for existing ci

[2021-02-18 22:02] balopat opened #482 "[building TF from source] C++ compilation of rule '@upb//:upb' failed"
This is not _strictly_ TFQ related, however I've been following the https://www.tensorflow.org/quantum/install#4_build_tensorflow_from_source guide which worked for me a couple of months ago but started failing now. If possible to change something in the guide after resolving this issue, it might help others too.

Running the bazel build command fails:

[code]

A bit of research shows that this wa

[2021-02-19 04:10] MichaelBroughton commented on #482
The fact that you are building from cache with
[code]
in bazel paired and you mentioning that you had a good build a few months ago leads me to think you might have old incompatible things in there. Does doing

[code]
And rebuilding solve the issue ?

[2021-02-19 17:26] zaqqwerty commented on #482
This was the same issue I was getting until the change to supporting TF 2.4.1, I think we should update the source build section for that already as in https://github.com/tensorflow/quantum/pull/473 , and only wait to change the package build sections

[2021-02-19 21:53] MichaelBroughton opened #484 "Upgrade and fix yapf"
Our C.I. has been starting to develop some interesting flakiness when it comes to checking python code formatting with yapf. It might be time to upgrade the version we depend on and see if that can't help fix this flakiness.

[2021-02-20 18:13] SatyaKuppam commented on #92
Hey, can I take a look at this? I want to start off my contributions to tensorflow-quantum with a simple task to get more familiarity. Hope I am not underestimating this.

[2021-02-20 18:57] SatyaKuppam commented on #380
Hey can I work on this?

I just want to summarize these are the math ops we want to implement ( I have ordered in terms of increasing difficulty, or at least thats what I think).

[code]

`tfq.math.overlap` mentioned above is already implemented as [inner product](https://github.com/tensorflow/quantum/pull/387),  will use that as reference.

[2021-02-21 18:25] balopat commented on #482
No, it doesn't, expunge, `rm -rf ~/.cache/bazel`, reinstalling dependencies, `export GCC=gcc-9`, none of that helped. Compiling 2.4.1 like in #473 does run through though!

[2021-02-21 22:59] balopat commented on #482
Correction (duh, it's `CC`, not `GCC`) - `GCC=gcc-9` works! So, if someone wants to compile TF 2.3.1 they'll have to use GCC 9.

[2021-02-21 23:14] MichaelBroughton commented on #482
Good catch, on further investigation the underlying issues is this: https://github.com/tensorflow/tensorflow/issues/39467 . In our install instructions we do link out to the TF source install guide which lists gcc-7 as the supported compiler and is the compiler we use when rolling our releases and nightly builds. So users should probably try and hop onto gcc-7 based on the information in the instr

[2021-02-21 23:14] #482 closed

[2021-02-22 13:43] MichaelBroughton commented on #380
Absolutely go for it!

[2021-02-22 15:39] MichaelBroughton commented on #480
After talking this over with the Cirq people it turns out that this is intended behavior. So we have to turn around and update our serializer functionality to support Toffoli and CCZ.

[2021-02-22 21:47] #460 closed

[2021-02-24 00:09] cubicgate opened #488 "How to do regression using gradient?"
Is it possible to add one example of using gradient to do regression (for example, on sine curves) at the end of these gradient examples in https://www.tensorflow.org/quantum/tutorials/gradients? I would like to learn how to use the gradient after getting the gradient.

   Thanks!

[2021-02-24 19:14] nishant34 commented on #380
Is there any update regarding its status? I also wanted to work on natural and hessian gradients.

[2021-02-24 22:05] MichaelBroughton commented on #380
I think this is something @jaeyoo might be interested in taking on. If he is we should probably break some of these ops off into their own issues and assign people ownership, just so we know who's working on what.

[2021-02-24 22:55] zaqqwerty opened #490 "Expectation layer won't work with remote simulators"
Currently, the `Expectation` layer requires a `cirq.SimulatesFinalState`, see [this line](https://github.com/tensorflow/quantum/blob/52ccd823a7062f318304e5964b55ae521038b3f7/tensorflow_quantum/core/ops/circuit_execution_ops.py#L125).  Instead, it should be updated to directly call the methods in the new Cirq class [`cirq.SimulatesExpectationValues`](https://github.com/quantumlib/Cirq/blob/8cf78255

[2021-02-24 23:56] jaeyoo commented on #380
Hi @nishant34 I am already working on natural gradients. Would you mind if you are working on natural gradients optimizer or hessian gradients?

[2021-02-25 15:31] MichaelBroughton commented on #488
Good Idea, perhaps we could put another small section at the end of the tutorial showcasing a quick use case of the differentiator you just made. Let's leave this open in case anyone would like to take this on.

[2021-02-25 18:05] Yueh-H opened #492 "how can I use tensorflow-quantum in MAC m1"
tensorflow  can use miniconda install on  M1
tensorflow-quantum install on Mac M1?
can anyone help me ?
thanks~

[2021-02-25 19:35] MichaelBroughton opened #493 "[Tracking] 0.5 Release"
Cirq 0.10.0 is coming sometime in March. Based on past releases TF 2.5.0 should also be coming around that time. We should cut our latest 0.5.0 that depends on both of these. Here are the features we want for the release (assigned people will deliver on them):

1. Implement `tfq.noise` module.  #250 . Implement `sample`, `sampled_expectation` and `expectation`. Owner: @MichaelBroughton
2. Natural

[2021-02-25 19:37] MichaelBroughton commented on #490
Do you have any more information on the errors they are seeing or an example that reproduces things ?

[2021-02-25 19:38] MichaelBroughton commented on #440
Any updates on this ?

[2021-02-25 19:48] MichaelBroughton commented on #377
Any updates on this @zaqqwerty ?

[2021-02-25 19:49] MichaelBroughton commented on #254
Going to close since this has gone stale.

[2021-02-25 19:49] #254 closed

[2021-02-25 21:34] #427 closed

[2021-03-03 20:22] MichaelBroughton commented on #492
Hi @Yueh-H we TensorFlow doesn't officially support anaconda builds. See #407 .
I would recommend that you try following the standard pip install steps found on the tensorflow and tensorflow quantum website. https://www.tensorflow.org/quantum/install

[2021-03-11 19:56] lockwo opened #504 "Consistency in Input Definitions"
This is what I brought up in the meeting today.

In the API documentation for TFQ the default value of the differentiator input (to PQC, ControlledPQC, Expectation, etc.) is "differentiator=None". I think this clashes with the other interpretations of None in Keras layers and within TFQ. In other cases when the default is None, that is indicative that there nothing for that option, i.e. that optio

[2021-03-13 19:50] Danielle-Schuman commented on #480
I am having the same issue, but the workaround @we-taper mentioned does not work for me, since I am getting the same error for the ControlledGate. @we-taper: Are you using the regular TFQ version or the nightly one?

[2021-03-14 11:08] we-taper commented on #480
@Danielle-Schuman I was using the nightly one at the time.

[2021-03-15 09:07] Danielle-Schuman commented on #480
Ok, thank you for the answer, @we-taper :). I was using the regular version, so that might have caused the different behaviour. I meanwhile have found a workaround, though. (I just implemented the Toffoli-gate in a decomposed manner, as described in https://en.wikipedia.org/wiki/Toffoli_gate#/media/File:Qcircuit_ToffolifromCNOT.svg , that worked with the regular TFQ version, too.)

[2021-03-15 13:20] we-taper commented on #480
Thanks! @Danielle-Schuman

Actually, why not working with the nightly-version? The major benefit is that gates will be implemented natively which means faster execution. So far it has been quite smooth for me to use the nightly version (or to be specific `tfq-nightly==0.5.0.dev20210218`).

[2021-03-17 02:40] MichaelBroughton commented on #504
This makes a lot of sense, I think we should investigate trying to implement this. @zaqqwerty Do you have any thoughts ?

[2021-03-17 03:33] zaqqwerty opened #506 "SampledExpectation layer with Cirq backend"
There is some [custom logic](https://github.com/tensorflow/quantum/blob/52ccd823a7062f318304e5964b55ae521038b3f7/tensorflow_quantum/core/ops/batch_util.py#L259) inside the SampledExpectation op construction which can be simplified with the new interface [introduced in this PR](https://github.com/quantumlib/Cirq/pull/3910).  Related to #315

[2021-03-17 03:39] zaqqwerty commented on #504
I don't remember any specific issue, I think it was for consistency with the backend argument, which also defaults to `None`.  Though maybe that one can also default to [what it resolves to](https://github.com/tensorflow/quantum/blob/52ccd823a7062f318304e5964b55ae521038b3f7/tensorflow_quantum/core/ops/tfq_simulate_ops.py#L22)

[2021-03-19 16:55] Prakhar998 opened #507 "tensorflow quantum giving a issue like this whenever I run it on colab"
![Screenshot at 2021-03-19 22-21-26](https://user-images.githubusercontent.com/37308176/111815605-e2ebaa00-8901-11eb-88f7-00a251ed10b2.png)
Please help me out with this
import tensorflow as tf
import tensorflow_quantum as tfq

import cirq
import sympy
import numpy as np
import seaborn as sns
import collections

# visualization tools
%matplotlib inline
import matplotlib.pyplot as plt
from cirq.cont

[2021-03-19 17:26] lockwo commented on #507
It might help if you shared the colab (or at least the pip installs). It might be some error in the installation phase (which isn't shown).

[2021-03-23 04:12] jaeyoo commented on #507
Could you please try this?

[code]

[2021-03-24 16:50] zaqqwerty opened #514 "Implement get_gradient_circuits for LinearCombination"

[2021-03-24 16:51] zaqqwerty opened #515 "Implement get_gradient_circuits for ParameterShift"

[2021-03-24 16:51] zaqqwerty opened #516 "Refactor differentiation logic to use get_gradient_circuits"

[2021-03-24 20:34] zaqqwerty opened #517 "Remove parallelization logic from python backends"
The functions in `batch_util.py` use custom multithreading to speed up calculations done using cirq interfaces.  However, this system causes issues when the cirq objects are actually interfaces to remote simulators or devices.  Since high performance is handled by the default qsim backend, we should remove this multithreading to give more freedom to the cirq backends.

[2021-03-25 02:29] #490 closed

[2021-03-25 19:37] SatyaKuppam commented on #380
Sorry was busy with other stuff, will start working on this now. How do you want me to break this up into multiple issues?

[2021-03-25 20:22] MichaelBroughton commented on #380
I'd say a good approach would be this:
1. Open an issue titled "[Math] Implement tfq.math.<whatever op you pick>" with the basic steps you envision for implementing it.
2. Assign it to yourself and put a reference back to this issue in the description.
3. Add any needed support code in small PRs before the main op contribution PR.
4. Create the op PR with similar structure to something like #508 o

[2021-03-27 11:48] rbktech commented on #421
@MichaelBroughton I am kind of in a different boat, with a sizeable background in quantum physics but with coding experience limited to small chunks of code to satisfy my research needs. Any suggestions on issues to tackle? The issue on math ops seems attractive but there seems to be a lot of people working on it already.

[2021-03-29 19:44] #514 closed

[2021-04-04 10:35] mikeevmm commented on #431
Hello,

I'm hitting this message, but only on graph mode; what's strange is that I'm calling the following function with `tf.py_function`, so I don't understand why it should behave differently from eager mode.

[code]

Is there something I can do to side-step this? I don't mind if it's at the expense of performance.

Thanks in advance.

[2021-04-04 11:16] mikeevmm commented on #431
Hello all,

I'm hitting this error but only when running in graph mode.

What's strange is that I'm only asking for gradients (not a Jacobian), and calling the circuit (part of a model) with `tf.py_function` (so as to run the model in eager mode), so I don't understand where the error is coming from. Is there a way to side-step this?

[code]

Thanks in advance.

[2021-04-07 20:20] #515 closed

[2021-04-09 10:10] jakeywatson opened #538 "GSOC21 Project Feasibility/Contribution"
Hi all, I'm looking to contribute, but it looks like the only tagged 'good first issue' is being worked on.

 I have a physics and computing background, and I'm also applying to GSOC21 so I thought this could be a good opportunity to do an 'out of the project list' application. If it doesn't get accepted I'd love to contribute anyway.

What do you think?

[2021-04-11 06:15] MichaelBroughton commented on #479
Thanks for raising the issue. Would you be interested in opening a PR with a fix ?

[2021-04-11 22:22] gatorwatt commented on #479
Sure happy to. Will be my first PR on someone else’s library. To follow.

[2021-04-11 22:22] #479 closed

[2021-04-14 01:21] MichaelBroughton commented on #538
Hi @jakeywatson contributions are always welcome! Another good issue for contribution would be to add in some more C++ ops see: https://github.com/tensorflow/quantum/issues/380 . If you see anything you like, there's lots of good information there on what a typical op contribution looks like. We are in the middle of gearing up for our 0.5.0 release and after that we will probably start to scope ou

[2021-04-19 14:50] jakeywatson commented on #538
Hi @MichaelBroughton, that looks good to me, I'm happy to take one of the ops from the [list](https://github.com/tensorflow/quantum/issues/380#issuecomment-782732880). I'll do it as a normal contribution, not with GSOC.

Are all of them still open? Also, which would you recommend, given that I'm new to TFQ? Really looking forward to the work :)

[2021-04-20 03:05] MichaelBroughton commented on #380
Similar to MPS simulation we might want to also support clifford circuit simulation. Likely built on top of: https://github.com/quantumlib/Stim. Since expectation values aren't as useful in clifford simulation we'd probably only need:
[code]

[2021-04-20 03:07] MichaelBroughton commented on #538
I'd say either of `operator_matrix`, `operator_commutator` or `fidelity` would be a good place to start, with the easiest being fidelity (can probably get away without doing any C++ on it and just using calls to inner_product). Also left another comment on #380  thread that we might want to also support stabilizer simulation which would be the largest undertaking of all of these (likely requiring

[2021-04-26 19:13] SatyaKuppam commented on #380
We currently have MPS simulator functionality in [cirq](https://github.com/quantumlib/Cirq/blob/c162e10c79663f97b62ba13c65e266853b48fe90/cirq/contrib/quimb/mps_simulator.py) wondering if I could leverage that for MPS related OPS instead of doing any C++.

[2021-04-26 20:37] #516 closed

[2021-04-26 20:56] MichaelBroughton commented on #380
That's an interesting idea and using python only can in theory work (like we did `cirq_ops.py`), but it incurs a huge overhead compared to running C++ code. If a PR was opened for implementing these ops in python we wouldn't merge it. We need to make sure that our users can feel confident that whatever ops they are calling into, they can rely on them being very fast.

[2021-04-26 21:04] SatyaKuppam commented on #380
Gotcha, just checking. Will get started with the C++ implementation. Will follow the steps you listed above. Thanks.

[2021-04-27 03:07] #504 closed

[2021-04-28 15:09] therooler opened #550 "Sampling with tfq.layers.Sample() produces same outputs"
**Python** 3.7
**Tensorflow** 2.3.1
**Tensorflow Quantum** 0.4.0

Hi,

I ran into something strange when I was trying to calculate errorbars on the estimators of some observables.
It seems that there are differences between how the `cirq.Simulator()` object handles random numbers compared to how this is done in the default `tfq.layers.Sample()` backend.

**Expected behavior**
Calling `tfq.layers.S

[2021-04-28 19:00] MichaelBroughton commented on #550
This might have something to do with #534 . Would you be able to quickly run this same code using `tensorflow==2.4.1` and `tfq-nightly` and see if you are still getting this error ?

[2021-04-28 19:28] therooler commented on #550
With `tensorflow==2.4.1` and  `tfq-nightly-0.5.0.dev20210428`, changing
[code]
to
[code]
runs without errors, and gives
1.) Same
2.) Same, but different scripts now give different bitstrings, yay!
3.) Same
4.) Same

[2021-04-28 19:31] MichaelBroughton commented on #550
Hmmmm that still seems like it might be worth investigating. I'm going to look into what we're doing with our randomness generation and see if we need to fix anything up some more.

[2021-04-29 13:28] zaqqwerty commented on #493
Will also need to upgrade tutorials, we should pin versions of TF and TFQ

[2021-05-01 19:09] FanFan-94 opened #556 "How to train QML using GPU properly"
Dear TFQ team,

Recently, I am trying to use GPU to train a hybrid quantum-classical model with CUDA and WSL2 to speed up the training process.

However, in my experiment, I found only my GPU's memory was used, but the utilization of the GPU is almost 0% and computation seemed to be done by CPU.  I would be very grateful if someone can help me to solve this issue.

BTW, I am using TensorFlow -2.3.